/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
	font-size:100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
h1{
	font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 400;
}
a {
	outline: none;
}
body {
	/*font: 12px/18px Arial, sans-serif;*/
	height: 100%;
	position:relative;
	font-size:100%;
	font-family: 'Roboto';

}
.line{
	background: #C3D0D8;
	height: 1px;
	width: 100%;
}
.wrapper {
	min-width: 994px;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
header.header {
	height : 76px;
	border-bottom : 0 solid #ccc;
	background:  rgba(255,255,255,.95);
	position: fixed;
	top:0;
	width:100%;
	z-index:1000;
}
header.header:after {
	content: '';
	display: block;
	height: 15px;
	width: 100%;
	position: absolute;
	top: 100%;
	background: url(../img/headbg.png) no-repeat center top;
	z-index: 10;
}
.topmenu{
	margin:0 auto;
	min-width: 1024px;
	border:0px solid red;
	padding: 0 8px;

}
input[type="text"]{
	background:#ccc;
	padding: 0px 10px 0px 10px;
}
.logo{
	width: 214px;
	float:left;
	padding: 10px 0;
	margin:0 4% 0 0%;
}
.logo img{
	float:left;
}
.shtorka{
	/*width:35%;*/
	display: inline-block;
	outline: 0px solid red;
	padding: 8px 0 0px;
	color:#3194c3;
}
.shtorka li{
	float:left;
	width: auto;
	border-left: 1px solid #e2e2e2;

}
.shtorka li:first-child a{
	text-indent: -9999px;
	background: url(../img/listbtn.png) no-repeat;
	margin:15px 25px 0 0;
	width:30px;
	height:26px;
}
.shtorka li:first-child{
	border-left:none;
}

.shtorka ul li a{
	display: block;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	padding: 9% 15%;
	text-transform: uppercase;

}
.shtorka ul li a span{
	display: block;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:18px;
	text-transform: none;
}
.topcontact{
	padding: 10px 0;
	width:35%;
	float: right;
	outline: 0px solid red;
}
.rezhum{
	float:left;
	color:#878787;
}
.rezhum p{
	text-align: center;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	letter-spacing:-2px;
	font-size:37px;

}
.rezhum span{
	display:block;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
}
.tel{

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:36px;
	color:#74b630;
	float:right;
}
.tel span{

	display:block;
	font-size:13px;
	font-family: 'Roboto';
	font-style: normal;

}
i.sub {
	vertical-align: top;
	color: #878787;
	font-size: 12pt;
}

.submenu {
	width:100%;
	margin:0 auto;
	display: none;
	min-width: 1024px;
	padding: 25px 20px;
	border:0px solid red;
	background: #fff;
	position: fixed;
	top:76px;
	z-index: 1000;
	box-shadow: 0 3px 0px rgba(0,0,0,0.1);
	filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#000000);
	filter: progid:DXImageTransform.Microsoft.shadow(direction=100, color=#000000, strength=2);

}
/* center
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 100px;
}
.breadcrumbs{
	width:100%;
	margin:20px 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
}
.breadcrumbs li{
	display: inline-block;
}
.slider{
	width:100%;
	/*height: 488px;*/
	overflow:hidden;
	border:0px solid;
	position:relative;
}
.textslider{
	width: 100%;
	position: absolute;
	top:80px;
	left:20px;
	
  	line-height: 1.3;
}
.textslider .anons{
	font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 300;
  	color:#74b630;
  	font-size: 16px;
  	color:#494949;
  	padding: 10px 0px;

}
.textslider img{
	float:left;
	margin: 0px 10px 0;
}
.textslider h2{
	font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 300;
  	color:#74b630;
  	font-size: 36px;
  	margin:0 0 20px 0;

}
.uslugi,.uslugi2{
	width:100%;
	height:250px;
	margin-top: 20px;
	position:relative;
}
.uslugi h2{
	font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 300;
	  font-size: 36px;
	  color:#3194c3;
	margin:0 15px 15px;
}
.bigblock{
	background:#6aaec8;
	color:#ccc;
	width: 100%;
	height: 167px;
	position: relative;
}
.bigblock span{
	display:block;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:16px;
	color:#ffffff;
	text-transform: none;
}
.bigblock .top img{
	float:left;
}
.bigblock .top{
	width:100%;
	padding: 10px 8px;
	text-align: right;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:24px;
	color:#ffffff;
}
.bigblock .bottom{
	width:100%;
	padding: 10px 8px;
	background:#5ca4bf;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:24px;
	color:#ffffff;
	text-align: right;
	position: absolute;
	bottom: 0;

}
.smallblock{
	width:100%;
	height: 75px;
	background:#6aaec8;
	color:#ccc;
	margin: 0px 0px 15px;
}
.smallblock .top img{
	float:left;
}
.smallblock .top{
	width:100%;
	padding: 15px 8px;
	text-align: right;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:24px;
	color:#ffffff;
}
.uslugi2 .smallblock .top{
	width:100%;
	padding: 4px 20px 0 20px;
	text-align: right;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:24px;
	color:#ffffff;
}
.smallblock span{
	display:block;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:16px;
	color:#ffffff;

}
.priceservice{
	position: absolute;
	right: 106px;
	bottom: 6px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:18px;
}
a .servicelnk{
	border-bottom: 1px dotted #000;
}
.blockabout{
	width:100%;
	height:500px;
	background:url(../img/blockabout.png) #cff1fd center;
	background-size: cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 300;
	  font-size: 16px;
	  color:#6a8292;
	  line-height: 1.3
}
.blockabout h2{
	font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 300;
	  font-size: 36px;
	  color:#6a8292;
	  margin:20px 0;
}
.tv{
	margin:25px 0;
}
.benefits{
	width:100%;
	margin:0 auto;
}
.benefits h3{
	margin:0 15px 15px;
	font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 300;
	  font-size: 26px
}

.blockbenefits{
	width:100%;
	margin:0 auto;
}
.blockbenefits li{
	float:left;
	height: 130px;
	text-align: center;
	width: 20%;
}
.blockbenefits ul li span{
	display:block;
}
.blockbenefits li img{
	padding: 0 0 8px 0;
}


.blockotzuv{
	width:100%;
	margin-top: -5px;
	overflow:hidden;
	background:url(../img/blockbestdent.png) top repeat-x;

}
#sticker{
	width:100%;
	overflow: hidden;
	border:0px solid red;
	margin-top: 20px;
	background: url(../img/sidebarbg.png) no-repeat;
	padding:15px 0 0 0;
	text-align: center;


}

#sticker img{
	margin:10px 25px;
}
.bestdant{
	width:100%;
	height:231px;
	position: relative;
}
.bestdant img{
	float:left;
	margin: 10px 10px 0 0;

}
.bestratio{
	font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  margin: 10px 10px 0 0;
}
.iconbest{
	position:absolute;
	bottom:26px;
	left:105px;
	background:url(../img/iconbest.png) no-repeat;
	width:61px;
	height:60px;
}
.bestdant h3{
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color:#564e3e;
}
.textforbest {
	padding:30px 0;
}
.stars{
	width:66%;
	height:18px;
	float:right;
	padding:0 0 0 108px;
	background:url(../img/stars.png) no-repeat;
}
.textforbest span{
	display: block;
	font-size:12px;
	font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 100;
  	margin:8px 0;
}
.bestname{
	
  	float:left;
}
.blocknamestar{
	width:100%;
	display: inline-block;

}
.namestars{
	width:97px;
	height:18px;
	float:right;
	background:url(../img/stars.png) no-repeat;

}
.besttext{
	font-size:16px;
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	color:#494949;
	position: relative;
  text-indent: 30px;
  margin:25px 0;
  text-align: justify;
}
.qu1{
	width:26px;
	height:19px;
	background: url(../img/qu1.png) no-repeat;
	position: absolute;
	top:0;
	left:184px;
}
.qu2{
	width:26px;
	height:19px;
	background: url(../img/qu2.png) no-repeat;
	position: absolute;
	bottom:0;
	right:230px;
}
.otzuvdant{
	width:100%;
	overflow: hidden;
	margin-top: 10px;

}
.otzuvtitle{
	width:100%;
	overflow:hidden;

}
.otzuvtitle h2{
	float:left;
	font-size:36px;
	font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 300;
  	color:#2b802b;
}
.bestotzuv{
	font-size:16px;
	font-family: 'Roboto';
  	font-style: italic;
  	font-weight: 300;
  	color:#494949;
	position: relative;
  text-indent: 30px;
  text-align: justify;
  line-height: 1.3;
 
}
.qu3{
	width:26px;
	height:19px;
	background: url(../img/qui3.png) no-repeat;
	position: absolute;
	top:0;
	left:0;
}
.qu4{
	width:26px;
	height:19px;
	background: url(../img/qui4.png) no-repeat;
	position: absolute;
	bottom:0;
	right:230px;
}
.reviewtitle{
	float:right;
	margin-top: 11px;

}
.reviewtitle a {
	padding: 0 10px;
	font-size: 18px;
	 font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;

}
.reviewtitle a.btn{
	color:#fff;
}
.reviewtitle a {
	color:#3194c3;
}
.vote,.onenew,.payblock{
	width:100%;
	margin-top: 10px;
	overflow: hidden;
}
.vote h2 {
	
	font-size:36px;
	font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 300;
  	color:#2b802b;
}
.vote span {
	display:block;
	font-size: 18px;
	 font-family: 'Roboto';
    font-style: normal;
   font-weight: 300;
   color:#494949;
   margin:30px 0;
}
.vote li{
	display: block;
	padding:10px 0;
	height:20px;
	font-size: 18px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	color:#494949;
}
label {
	height:20px;

}
.listline{
	margin-bottom: 0px !important;
}
.r_button {
	display: none;
}

.r_button + label {
	background:url(../img/radiotype.png) no-repeat scroll 0 0;
	cursor: pointer;
	padding-left: 30px;
}

.payblock h3 {
	color:#2b802b;
}

.textnewblock{
	overflow:hidden;
	border:0px solid red;
	margin:0 30px;
}
.action{
	width:100%;
	overflow:hidden;
	border:0px solid;
	margin:15px 0;
}
.padleft{
	padding-left: 0;
}
.action figure{
	display: block;
	position: relative;
}
.action figure figcaption{
	display: block;
	position: absolute;
	width: 100%;
	top: 0;left: 24px;
	z-index: 2;
	background: rgba(255,255,255,.5);
	height: 50px;
	line-height: 50px;
	font-size: 21px;
	text-transform: uppercase;
	color: #0793c6;
}
.action figure figcaption.clear {
	background: transparent;
}
.action img{
	width:100%;
	display:block;
	height: auto;
	margin-top: 5px;
}
.mainblock{
	width:100%;
	overflow: hidden;
	margin:0 0 65px 0;
}
.actioinview,.newview,.uslugiview{
	width:100%;
	border:0px solid;
	overflow:hidden;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	color:#494949;
	line-height: 24px;
	margin:0 0 50px;
	}
.actioinview h3.view_maintitle{
	font-size: 24px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color:#2b802b;
	margin:0 0 27px;
}
.actioinview h3{
	font-size: 24px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	color:#494949;
	margin:15px 0 15px 0;
	/*position:absolute;*/
}
.actioinview h3 span {
	font-style: normal;
	font-weight: 400;
}
.actioinview h3 img{
	width:14px;
	height:20px;
	float:right;

}
.actioinview img{
	width:360px;
	float:left;
	margin:5px 32px 15px 0;
	height:140px;
}
.uslugiview h3{
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color:#2b802b;
  margin: 20px 0;
}
.uslugititle{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color:#2b802b;
	margin: 45px 0px 15px 0;
}
.listprice{
	margin: 8px 0;
	padding: 0px 0px 5px 0;
	border-bottom: 1px solid #ccc;
	width:100%;
	overflow:hidden;
	}
.nameusluga{
	float:left;
	margin:0 10px;
}
.priceusluga{
	float:right;
}
.priceusluga img.yelicon{
	width:35px ;
	height:28px;
	float:left;
}
.newimg{
	position:relative;
}
.newimg img{
	float:left;
	margin:0 10px 0 0;
}

.newview h3.view_maintitle{
	font-size: 36px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	color:#2b802b;
	margin:0 0 27px;
}
.newview a{
	text-decoration: underline;
}
.titleimg{
	float:left;
	margin:5px 32px 15px 0;
	position:relative;
	overflow:hidden;
	line-height: 1;
}
.datetext{
	position:absolute;
	left:17px;
	width:49px;
	height:45px;
	background: url(../img/bgfordate.png) no-repeat;
	text-align: center;
	font-weight: bold;
	top: -3px;
	color: #777;
	font-size: 24px;
	font-weight: 400;
}
.datetext span{
	font-weight: 300;
	font-size: 14px;
	display:block;
}
.actioinview h4{
	font-size: 24px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color:#2b802b;
	margin: 22px 0 27px;
}

.acttext{
	width:100%;
	overflow:hidden;
	text-align: justify;
}
.acttext img{
	float:right;
	width:363px;
	height:318px;
	margin:0 30px 0;
}
.linefoto {
	width:100%;
	margin:15px 0;
}
.linefoto img{
	width:100%;
	height:auto;
	display: block;
	margin:0 30px 0;
}
.technol ul{
	list-style:none;
	overflow:hidden;
	padding: 0 0 0 32px;
}
.technol ul li{
	padding:0 0;
	padding-left: 10px;
	position: relative;
}
.technol ul li:before {
	content: "\b7";
	font-size: 36px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 0px;
}

.textnew{
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	color:#494949;
	/*text-align: justify;*/
	line-height: 24px;
	margin:0px 10px;
	width:100%;

}
.textnew h4{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color:#3798c5;
	margin:0 0 30px 0;
}
.textnew h3{
	font-size: 24px;
	 font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color:#3798c5;
	margin:0 0 34px 0;
}
.actioinpayblock{
	width:100%;
	border:1px solid red;
}
.onenew h3{
	font-size:36px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	color:#2b802b;
	margin:0 10px 20px;

}
.onenew h4 {
	font-size:24px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color:#2b802b;
}
.blocknew{
	width:100%;
	margin-top: 35px;
	overflow: hidden;

}
.blocknew h4{
	font-size:24px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color:#2b802b;
	margin:8px 0 34px;
}
.blocktextnew{
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	color:#494949;
	line-height: 24px;
	margin:0;
}
.datenew{
	position:absolute;
	left:9px;
	width:49px;
	height:45px;
	background: url(../img/bgfordate.png) no-repeat;
	text-align: center;
	font-weight: bold;
	color: #777;
	font-size: 24px;
	font-weight: 400;
	/*text-transform: uppercase;*/
	top: -3px;
}
.datenew span {
	font-weight: 300;
	font-size: 14px;
	display: block;
}
.navepagebottom{
	width:100%;
	overflow:hidden;
	margin:0 0 85px 0;
}
.pagenav{
	float:left;
	color:#494949;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}
.pagenav ul li{
	float:left;
	display:block;
	margin:0 5px;
}

.pagenav ul li a{
	color:#fff;
	display:block;
	padding:6px 10px;
	background:#3194c3;
}
.pagenav ul li a.active{
	color:#9f9f9f;
	background:#dadada;
}
.pagenav ul li a.first,.pagenav ul li a.last{
	background:none;
	color:#dadada;
}
.rightpagenav{
	float:right;
	display:block;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}
.rightpagenav ul li{
	float:left;
	display:block;
	margin:0 5px;
}
.rightpagenav ul li:last-child{
	background:none;
	color:#dadada;
}
/*==== end newsblock =====*/

.bankname, .paysyst{
	width: 100%;
	overflow: hidden;
	position: relative;

}

.bankname img{
	margin:0 20px 0 0;

}
.bankpay{
	width:100%;
	margin:0 0 32px;
	overflow:hidden;

}

.banktitle{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size:24px;
	color:#2b802b;
	margin-bottom: 20px; 
}
.paytitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size:24px;
  color:#808080;
  margin-right: 20px;
 float:left;

}

ul.paycard li{
	display:inline-block;
}
ul.paycard li a img{
	display:inline-block;
	border:0px solid #e0e0e0;
}
.map{
	width:100%;
	overflow: hidden;
	position: relative;
	margin:0 0 20px 0;
}
.map h2{
	font-size:36px;
	font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 300;
  	color:#2b802b;
  	margin:20px 10px;
  	position:relative;
  	float:left;
}
.metrotitle {
	position:absolute;
	top:30px;
	right:140px;
	display:block;
	 font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 300;
	  font-size: 24px;
	  color:#2b802b;

}
.metroname{
	width: auto;
	position:absolute;
	top:70px;
	right:0;
	background:#fff;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size:24px;
	color:#3194c3;
}

.metroname li{
	padding:11px;
	font-size: 16px;
	border-bottom: 1px solid #C3D0D8;
}
.metroname li span{
	display:block;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size:16px;
	color:#494949;
}

.icongreenlight {
	background:url(../img/metroicon.png) 2px -2px ;
	background-repeat: no-repeat;
	padding:1px 19px;

}
.iconred {
	background:url(../img/metroicon.png) -53px -2px ;
	background-repeat: no-repeat;
	padding:1px 19px;

}
.icongreen{
	background:url(../img/metroicon.png) -112px -2px ;
	background-repeat: no-repeat;
	padding:1px 19px;
}
.iconblue{
	background:url(../img/metroicon.png) -170px -2px ;
	background-repeat: no-repeat;
	padding:1px 19px;
}




/*============ blockactions ================================================*/
.blockactions{
	width:100%;
	margin-top: 80px;
	overflow:hidden;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	min-width: 1000px;
	max-width: 1920px;
	height: auto;
	/*background: #BFF08E;*/
	position: relative;
}
.blockappointment{
	width:100%;
	height:122px;
	background:url(../img/bgappoint.png) repeat-x;
	padding: 15px;
	border:0px solid yellow;
}
.botblock{
	width:100%;
	margin:0px auto;
	overflow:hidden;

}

.quest{
	float:left;
	margin: 0 30px;
	color:#f1f8ea;
	vertical-align: middle;
    white-space: nowrap;
    font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   text-align: left;
}
.block1 img, .block2 img{
	float:left;
}
.block1 span, .block2 span{
	display:block;
	text-transform: uppercase;
	font-weight: bold;
}
.block1 a, .block2 a{
	background-color: #fff;
    border-color: #ccc;
    color: #2b802b;
	border-radius: 4px;
    display: inline-block;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}
.botmenu{
	width:100%;
	overflow:hidden;
	margin: 20px 0 0 0;
}
.botmenu ul{
	float:left;
}

.botmenu ul li{
	display: inline-block;
	margin:10px;
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.footerlist{
	width:100%;
	overflow:hidden;
}
.pat, .compan, .footcontac, .topcontac{
	float:left;
	width: 18%;
}
.footerlist .title, .submenu .title{
	color:#3194c3;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;

}
.footerlist li,.submenu li{
	margin:8px 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}
.copy{
	width: 100%;
	margin:0 0 20px 0;
}
.copyright{
	float:left;
	color:#3194c3;
	font-size: 14px;
}
.madeby{
	float:right;
	margin-right: 20px;
	color:#3194c3;
	font-size: 14px;
}


.container{
	min-width: 1024px !important;
}
.shtorka li:first-child a {
	text-indent: 0;
	font-size: 0;
	color: transparent;
}
.textslider {
	position: absolute;
	width: 100%;
}
.textslider img {
	margin-right: 20px;
}
.textslider .anons {
	line-height: 1.2;
	padding-right: 20px;
}
.main-slider {
	margin: 0 auto;
	min-width: 1024px;
	/*max-width: 1400px;*/
	height: 480px;
	overflow-y: hidden;
}
.slider {
	width: 100% !important;
}
.slider .carousel-inner .row {
	margin-left: -40px;
}
.main-slider h2 {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-right: 40px;
	font-size: 44px;
	line-height: 1.1;
}
.main-slider .container {
	position: relative;
}
.blue-button {
	display: inline-block;
	background: #3194c3 !important;
	padding: 6px 20px;
	color: #fff;
	font-weight: 300;
	border-radius: 20px;
	font-size: 18px;
}
.blue-button:hover {
	color: #fff;
	text-decoration: underline;
}
.main-slider .blue-button {
	position: absolute;
	top: 350px;
	right: 36px;
	z-index: 999;
}
.main-slider img.slider-image {
	margin: 0 10%;
}
.bigblock .bottom {
	font-size: 44px;
	font-weight: 200;
}
.priceservice {
	position: static;
	z-index: 2;
	margin:  0 20px;
	min-height: 40px;
	padding: 0;
	text-align: right;
}
.priceservice a {
	font-size: 16px;
	margin-left: 20px;
}
.uslugi {
	height: auto;
}
.drop-down {
	display: inline-block;
	position: relative;
	z-index: 3;
}
.drop-down ul {
	display: none;
	list-style: none;
	background: #d2f1b0;
	position: absolute;
	top: 100%;left:-50px;
	margin-top: 20px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	border: 1px solid #bbb;
}
.drop-down ul:after,
.drop-down ul:before {
	position: absolute;
	z-index: 2;
	content: '';
	border: 10px solid transparent;
	border-bottom: 10px solid #bbb;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
}
.drop-down ul:before {
	border-bottom: 10px solid #fff;
	z-index: 4;
	margin-bottom: -1px;
}
.drop-down ul li {
	display: block;
	padding: 15px 0;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	background:#e7f5d8;
	color:#7c7e79;

}
.drop-down ul li.drop-title {
	display: block;
	padding: 15px 0;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	background:#d2f1b0;

}
.drop-down ul li a {
	display: block;
	padding: 7px 10px;
	text-decoration: none;
	text-align: center;
	margin: 0;
	border-bottom: 1px dotted transparent #3194c3;
}
.btn {
	padding: 2px 20px !important;
	border-radius: 20px;
}
a {
	outline: none !important;
}
a img {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	padding: 0;
}
h2 {
	letter-spacing: -1px;
}
.blockabout {
	height: auto;
}
.blockotzuv {
	display: block;
	position: relative;
	top: -10px !important;
}
.qu2, .qu4 {
	position: static;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: -10px;
}
.textforbest span {
	font-size: 16px;
}
.dotted, .dotted:focus {
	border-bottom: 1px dotted #3194c3;
	text-decoration: none;
}
.dotted:hover {
	border-bottom: 1px dotted transparent;
	text-decoration: none;
}
.dashed, .dashed:focus {
	text-decoration: none;
	border-bottom: 1px solid #3194c3;
}
.dashed:hover {
	border-bottom: 1px solid transparent;
	text-decoration: none;
}
.font-16 {
	font-size: 16px !important;
}
.no-pad {
	padding: 0 !important;
}
.marg-right-10 {
	margin-right: 10px;
}
.r_button:checked + label {
	background: url("../img/radiotype-checked.png") no-repeat scroll 0px 0px transparent;
}
.footerlist .title, .submenu .title {
	font-size: 18px;
	margin-bottom:20px;
}
.footcontac {
	width: 40%;
}
.footcontac ul li {
	margin: 0;
	padding: 5px 0;
}
.vk{
	float: right;
	font-weight: bold;
	color:#75858c;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	margin:11px 50px 0;
}

.vk img {
	vertical-align: middle;
	margin-left: 3px;
	margin-top: 2px;
}
.v-middle {
	vertical-align: middle;
}
.copyright {
	padding-top: 10px;
}
.madeby img {
	margin-left: 10px;
	margin-top: -4px;
}
.topcontact {
	width: 38%;
}
.botblock {
	margin: 0 -20px;
	width: auto;
}
.tel a {
	padding: 0 5px;
}
.shtorka ul li a {
	padding: 9% 12px;
}
.precent-badge {
	overflow: hidden;
	position: absolute;
	height: 50px;
	width: 50px;
	margin-top: -4px;
	margin-left: -4px;
}
.relative {
	position: relative;
}
.precent-badge span {
	background: #ffd71b;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.2);
	width: 70px;
	height: 24px;
	line-height: 24px;
	margin-top: 4px;
	text-align: center;
	color: #888;
	font-size: 18px;
	margin-left: -18px;
	font-weight: bold;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.blockabout {
	color: #494949;
}
.bestdant img {
	float: none;
	width: 100%;
	display: block;
	height: auto;
	margin-top: 20px;
}
.iconbest {
	bottom: 0px;
	right: 0 !important;
	margin-left: -10px;
}
.besttext {
	padding-left: 30px;
	text-indent: 0;
}
.besttext .qu1 {
	display: inline-block;
	margin-left: 0px;
	margin-left: -30px;
	position: static;
}
.thin {
	font-weight: 100;
}
.stars-rating img {
	width: 18px;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.stars-rating small {
	margin-left: 10px;
}
.textforbest h3 {
	letter-spacing: -1px;
}
.vote hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.vote label {
	font-size: 18px;
	font-weight: 300;
}
.btn-primary {
	background: #3194c3;
	padding-left: 50px !important;
	padding-right: 50px !important;
	border: none;
}

.paytitle {
	padding-top: 10px;
}
.block1{
	margin:0 0 0 25px;
}
.block1 a {
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
}
.block1 img, .block1 .quest {
	padding-top: 12px;
}
.block2{
	float:right;
	margin:0 30px 0 0;
}
.block2>* {
	display: inline-block;
	vertical-align: middle;
}
.block2 img, .block2 .quest {
	padding-top: 12px;
}
.block2 a {
	/*text-align: left;*/
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
}
.footerlist ul {
	margin-left: 10px;
}
.footerlist ul li a {
	font-size: 14px;
}
.madeby {
	color: #444;
}
#sticker {
	display: block;
}
#sticker figure{
	display: block;
	width: 360px;
	position: relative;
}
#sticker figure figcaption{
	display: block;
	position: absolute;
	width: 100%;
	top: 0;left: 24px;
	z-index: 2;
	background: rgba(255,255,255,.5);
	height: 50px;
	line-height: 50px;
	font-size: 21px;
	text-transform: uppercase;
	color: #0793c6;
}
#sticker figure figcaption.clear {
	background: transparent;
}
.carousel-indicators li {
	background: #000;
}