.map h2 {
    margin: 0px 10px 30px;
}
.main-form{
    background: #eae3d6;
    padding: 20px;
}

.reset-btn{
    border: none;
    background: none;
    margin-right: 30px;
    padding: 0;
}
.map .metroname ul li {
    line-height: 21px;
}
.metroname li:last-child {
    border-bottom: none;
}
.title-text .icongreenlight{
    background: url("../../img/metroicon.png") no-repeat scroll 2px 13px transparent;
}
.inside-item{

    overflow: hidden;
    display: block;
    border: none;
    position: relative;
}
.inside-item:hover{
    border: none;
    text-decoration: none;
    outline: 2px solid #b9b9b9 !important;
    outline-offset: 5px;
}
.inside-item:active{
    outline: 1px solid #b9b9b9 !important;
    outline-offset: 0px;
}
.inside-item:active:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 266px;
    height: 350px;
    z-index: -1;
    display: block;
    background: rgba(100,100,100,0.15);
}
#changeContent{
    overflow: hidden;
}
.doc-docs a{
    display: block;
    width: 33%;
    float: left;
}
.doc-docs a img{
    width: 95%;
    margin: 0 auto;
}