
.to_top{position:fixed !important;top:0px !important;}

#fixed-box{
    width: 262px;
}
#fixed-box img{
    width: 100%;
}
.fixed-box-top{
    position:fixed !important;top:90px !important;
}

.yellow-link{
    color: #ffdd00;
}
.yellow-link:hover{
    color: #ffdd00;
    border-bottom: 1px dotted #ffdd00;
}
.doctorPg-content{

}
.honors-box ul li{
    margin-right: 27px;
    height: 44px;
    width: 38px;
    margin-bottom: 20px;
    float: left;
}
.doc-quote{
    background: #74b630;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    position: relative;
    color: white;
    line-height: 58px;
    padding: 0 20px;
}
.doc-quote:after{
    content: '';
    background: url("../../img/doctors/doc-quote.png") no-repeat;
    position: absolute;
    width: 27px;
    height: 17px;
    left: 3px;
    bottom: -17px;
}
.ul-style{
    margin-left: 15px;
}
.ul-style li:before{
    content: '\2022';
    margin-right: 5px;
    float: left;
}
.doc-slider{
    height: 312px;
    background: #e4e7e9;
}
.carousel-inner .item img{
    margin: 30px auto 10px;
}
.carousel-inner .item {
    padding: 0 66px;
}
.btn-arrow-left {
    left: -30px;
}
.btn-arrow-right{
    left: 30px;
}
a.like-color:hover{
    border: none;
    text-decoration: none;
    color: #494949;
}
.doc-reviews-text{
    margin-left: 22px;
    line-height: 21px;
    position: relative;
    padding-left: 10px;
}
.doc-reviews-text i:nth-child(1){
    margin-left: -22px;
}
.doc-form{
    background: #eae3d6;
    padding: 20px;
}
.form-input1{
    width: 35%;
}
.form-input2{
    width: 30%;
}
.form-input1, .form-input2, .form-textarea{
    resize: none;
    background: #fff !important;
    border: none;
    border-top: 1px solid #b2b2b2;
    padding: 12px 4px !important;
    height: 40px;
    line-height: 18px;
}
.form-textarea{
    height: auto;
}
.reset-btn{
    border: none;
    background: none;
    margin-right: 30px;
    padding: 0;
}
