.doc-item { width: 25%;height: 374px;font-family: 'RobotoRegular', sans-serif;}
.inside-item{
    width: 100%;
    height: auto;
    padding: 10px;
    overflow: hidden;
    display: block;
    border: none;
    position: relative;
}
.inside-item img{
    width: 100%;
    margin: 0 0 10px 0;
}
.inside-item:hover{
    border: none;
    text-decoration: none;
    outline: 2px solid #b9b9b9 !important;
    outline-offset: 3px;
    z-index: 2;
}
.inside-item:active{
    outline: 2px solid #b9b9b9 !important;
    outline-offset: 0px;
}
.inside-item:active:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 3px;
    z-index: -1;
    display: block;
    background: rgba(100,100,100,0.15);
}
.inside-item img{
    margin: 2px auto 0;
}
.img-253{
    width: 253px;
}
