body{
    background: #769fb2;
}
textarea{
    color: #494949;
    padding: 15px;
}
header.header {
    bottom: 0;
    top: auto;
    background: white;
}
.submenu {
    position: fixed;
    bottom: 79px;
    top: auto;
}
.login-form{
    top: -226px;
}
.success-form {
    top: -195px;
}
.success-form:before {
    border-top: 10px solid #E7F5D8 !important;
    border-bottom: none;
}
.login-form:before, .success-form:before {
    content: '';
    border-top: 10px solid #e6e6e6;
    border-bottom: none;
    top: 100%;
}

.map{
    display: block;
    background: url("file:///D:/6x/node/liderstorm_2/liderstorm_2/dist/img/teeth-img.png") repeat scroll 0% 0% transparent;
    position: relative;
    padding: 0px;
    width: 393px;
    height: 143px;
}

.shtorka{
    position: relative;
    overflow: hidden;
}
.shtorka li:not(:first-child) {
    display: block;
    position: relative;
    transition: background 0s;
    border: none !important; }
.shtorka li:nth-of-type(2):hover, .shtorka li:nth-of-type(3):hover, .shtorka li:nth-of-type(4):hover {
    text-decoration: none;
    background: none;
    z-index: 2;
}
.shtorka li:first-child{
    margin-left: 20px;
    border: none !important;
}
.logo {
    margin: 0px 1.5% 0px 0.5%;
}
.shtorka li:first-child a {
    text-indent: -9999px;
    background: url("../../img/listbtn.png") no-repeat scroll 50% 50% transparent;
    margin: 0px 21px 0px -15px;
    width: 30px;
    height: 26px;
    padding: 29px;
    display: block;
}
/*.shtorka li:nth-of-type(2):hover a, .shtorka li:nth-of-type(3):hover a, .shtorka li:nth-of-type(4):hover a {*/
    /*text-decoration: none;*/
    /*color: white !important;*/
/*}*/


/*.effect {*/
    /*position: absolute;*/
    /*left: -100%;*/
    /*transition: 0.3s ease-in-out;*/
/*}*/
/*.shtorka li:nth-child(2):hover ~ .effect {*/
    /*left: -20.4%;*/
/*}*/
/*.shtorka li:nth-child(3):hover ~ .effect {*/
    /*left: 8%;*/
/*}*/
/*.shtorka li:nth-child(4):hover ~ .effect {*/
    /*left: 36%;*/
/*}*/
.effect a{
    color: white;
}

.effect {

    padding-top: 8px!important;
    margin-top: -8px!important;

    height: 71px!important;
    display: block;

    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border: none;
    z-index: 1;

    background: rgba(118,159,178,1) !important;
    background: -moz-linear-gradient(top, rgba(118,159,178,1) 0%, rgba(105,137,152,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(118,159,178,1)), color-stop(100%, rgba(105,137,152,1)));
    background: -webkit-linear-gradient(top, rgba(118,159,178,1) 0%, rgba(105,137,152,1) 100%);
    background: -o-linear-gradient(top, rgba(118,159,178,1) 0%, rgba(105,137,152,1) 100%);
    background: -ms-linear-gradient(top, rgba(118,159,178,1) 0%, rgba(105,137,152,1) 100%);
    background: linear-gradient(to bottom, rgba(118,159,178,1) 0%, rgba(105,137,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#769fb2', endColorstr='#698998', GradientType=0 );
}
.effect:before{
    content: "";
    background: url('../../img/active-btn-bg.png') no-repeat left;
    height: 9px;
    width: 10px;
    position: absolute;
    left: -10px;
    top: 0;
}
.effect:after{
    content: "";
    background: url('../../img/active-btn-bg.png') no-repeat right;
    height: 9px;
    width: 10px;
    position: absolute;
    right: -10px;
    top: 0;
}
/*.shtorka li:not(:nth-of-type(1)) a .top-l-corner, .shtorka li:not(:nth-of-type(1)) a .top-r-corner{*/
    /*display: none;*/
/*}*/
/*.shtorka li:hover:not(:nth-of-type(1)) a .top-l-corner, .shtorka li:hover:not(:nth-of-type(1)) a .top-r-corner{*/
    /*display: block;*/
/*}*/
.shtorka li:hover:not(:nth-of-type(1)) a{
    text-decoration: none; }

/*.top-l-corner:before{*/
    /*content: "";*/
    /*position: absolute;*/
    /*background: none repeat scroll 0% 0% #769fb2;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*top: 0px;*/
    /*left: -10px;*/
    /*border-bottom-left-radius: 20px;*/
/*}*/
/*.top-l-corner:after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*background: none repeat scroll 0% 0% white;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*top: 0px;*/
    /*left: -10px;*/
    /*border-top-right-radius: 20px;*/
/*}*/
/*.top-r-corner:before{*/
    /*content: "";*/
    /*position: absolute;*/
    /*background: none repeat scroll 0% 0% #769fb2;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*top: 0px;*/
    /*right: -10px;*/
    /*border-bottom-right-radius: 20px;*/
/*}*/
/*.top-r-corner:after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*top: 0px;*/
    /*right: -10px;*/
    /*border-top-left-radius: 20px;*/
    /*background: none repeat scroll 0% 0% white;*/
/*}*/
/*========================================================================================================================*/
/*=======================================================ВХОД=============================================================*/
/*========================================================================================================================*/


input[type=radio]{
    opacity:0 !important;
    position:absolute !important;
    z-index:12 !important;
    width:18px !important;
    height:18px !important;
}
input[type=radio]+.lbl::before{
    color: #1B7098 !important;
    content: " " !important;
    background-color: #FAFAFA !important;
    border: 1px solid #CCC !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0px !important;
    display: inline-block !important;
    text-align: center !important;
    vertical-align: middle !important;
    height: 19px !important;
    line-height: 17px !important;
    min-width: 19px !important;
    margin-right: 4px !important;
    margin-top: -5px !important;
}
input[type=radio]:hover+.lbl::before,input[type=radio]+.lbl:hover::before{border-color:#1c7aad !important;}
input[type=radio]+.lbl::before{border-radius:32px !important;font-family:Arial,Helvetica,sans-serif !important;font-size:36px !important;}
input[type=radio]:checked+.lbl::before{content:"\2022" !important;}

.w850{
    width: 850px;
}
.profile-input{
    width: 100%;
    height: 37px;
    border: 1px solid #c2c2c2;
    background: white !important;
    padding: 0px 10px;
}
.profile-input-box{
    width: 30%;
}

.cabinet-head{
    width: 100%;
    height: 70px;
    line-height: 68px;
    background: #1b7098;
}
.fill-in-profile{
    width: 1150px;
    height: 360px;
    position: fixed;   
    margin: -210px 0 0 -575px;
    top: 50%;
    left: 50%;
}
.cabinet-form{
    width: 360px;
    position: absolute;
    margin: -175px 0 0 -180px;
    top: 50%;
    left: 50%;
}
.cabinet-form .cabinet-input, .cabinet-form .cabinet-input2{
    width: 100%;
    height: 37px;
    border: 1px solid #c2c2c2;
    background: white;
    padding: 0px 10px;
}
.cabinet-form .cabinet-input2{
    width: 40%;
}
.cabinet-line{
    width: 100%;
    height: 1px;
    background: #658796;
    position: relative;
}
.cabinet-line span{
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: -15px;
    background: #658796;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    line-height: 28px;
    text-align: center;
}
.submit-btn{
    min-width: 165px;
    padding: 1px 20px;
    border-radius: 20px;
    background: #f0dc48;
    color: #527686 !important;
    line-height: 33px;
    text-align: center;
    border: none;
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    transition: all 200ms;
}

.submit-btn:hover{
    background: #fff267;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.submit-btn:active{
    background: #f0dc48;
    border: none;
    border-bottom: 1px solid transparent !important;;
    border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.soc-btn{
    width: 30px;
    height: 30px;
    display: block;
}
.text-opacity06{
    opacity: 0.6;
}
.soc-btn:hover{
    opacity: 0.6;
}
.history-link:hover{
    background: #668EA1;
}

.main-cabinet .cabinet-head{
    line-height: normal;
    padding-top: 5px;
}
.cabinet-head-ul li:nth-child(1){
    padding-right: 30px;
    border-right: 1px solid #5aa9cf;
}
.cabinet-head-ul li:nth-child(2){
    width: 392px;
    padding: 0 30px;
}
.cabinet-head-ul li:nth-child(3){
    padding-left: 30px;
    width: 400px;
}
.alert-box{
    background: white;
    height: 101px;
}
.free-check-box{
    padding: 10px;
    background: #fff;
}
.ticket-list-box{
    background: #668ea1;
    border-radius: 6px;
    position: relative;
}

.close-ticket{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.close-ticket svg{
    width: 20px;
    height: 20px;
    fill: #ffdd00;
}
.close-ticket svg:hover{
    width: 20px;
    height: 20px;
    fill: #2f3f46;
}
.ticket-list-box-head{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 5px;
    height: 35px;
    padding: 0 6px;
    background: #567989;
}
.ticket-list-box-rate{
    background: #80a5b7;
    border: 1px solid #60889b;
    padding: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.ticket-list-box-rate ul{
    overflow: hidden;
}
.ticket-list-box-rate ul li{
    float: left;
    width: 25%;
}
.teeth-box{
    width: 400px;
    background: #6f98ab;
    padding: 15px;
    border: 1px solid #a5c4d2;
}
.teeth-info{
    position: absolute;
    right: 0;
    top: 46px;
}
.right-border{
    border-right: 1px solid #d4e0e6;
    height: 100%;
}
.history-box{
    background: #668ea1;
    border-radius: 6px;
    position: relative;
}
.history-dot-left{
    position: absolute;
    right: -45px;
    top: 3px;
    background: url("../../img/history-dot-left.png") no-repeat;
    width: 36px;
    height: 19px;
}
.history-dot-right{
    position: absolute;
    left: -45px;
    top: 3px;
    background: url("../../img/history-dot-right.png") no-repeat;
    width: 36px;
    height: 19px;
}
.history-box-head, .history-box-head2{
    background: #567989;
    padding: 6px 10px;
    position: relative;
}
.history-box-head:after, .history-box-head2:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #567989;
    border-width: 14px;
    margin-top: -14px;
}
.history-box-head2:after{
    border-left-color: transparent;
    left: auto;
    right: 100%;
    border-right-color: #567989;
}
.history-link{
    padding: 5px 15px;
    border: 2px solid #d4e0e6;
    border-radius: 20px;
    margin: 0 auto;
    width: 245px;
}
.care-plan .doc-say{
    width: auto;
    margin-left: 170px;
}
.line-care-plan{
    width: 330px;
    padding: 3px 0;
    background: #668ea1;
    position: relative;
}
.line-care-plan div{
    z-index: 3;
    position: relative;
}
.line-care-plan:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 10%;
    background: #ffdd00;
}
.care-box{
    width: 100%;
    padding: 10px;
    background: #e4ebef;
    border: 1px solid #658796;
}
.data-price h2:nth-child(1){
    position: absolute;
    right: 200px;
}
.doc-chat{
    height: 100%;
}
.doc-chat div{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 5px;
}
.doc-chat div:hover{
    background: #658796;
    cursor: pointer;
}
.active-doc{
    background: #658796;
}

.chat-client-say, .chat-doc-say{
    padding: 15px;
    background: #e0eefa;
    border: 1px solid #bfd3e3;
    position: relative;
}
.chat-doc-say{
    background: #fbf8dc;
    border: 1px solid #d8d5bc;
}
.chat-client-say:after{
    content: '';
    position: absolute;
    right: -9px;
    top: 5px;
    background: url("../../img/client-say-cor.png")no-repeat;
    width: 9px;
    height: 7px;
}
.chat-doc-say:after{
    content: '';
    position: absolute;
    left: -9px;
    top: 5px;
    background: url("../../img/doc-say-cor.png")no-repeat;
    width: 9px;
    height: 8px;
}
.chat .cabinet-line{
    position: relative;
    width: 101%;
    left: -1%;
}
.chat{
    position: relative;
}
.chat:before{
    content: '';
    height: 95%;
    width: 1px;
    background: none repeat scroll 0% 0% #658796;
    position: absolute;
    left: -30px;
}
.right-left{
    border-left: 1px solid #658796;
}
/*========================================================================================================================*/
/*====================================================ДИАГНОСТИКА=========================================================*/
/*========================================================================================================================*/
.doc-photo, .doc-photo2, .doc-photo3, .doc-photo4, .doc-photo5{
    background: url("../../img/diagnostics/doc1.png") no-repeat left bottom;
    width: 540px;
    height: 515px;
    background-size: 100%;
}
.doc-photo2{
    background: url("../../img/diagnostics/doc2.png") no-repeat left bottom;
    background-size: 100%;
}
.doc-photo3{
    background: url("../../img/diagnostics/doc3.png") no-repeat left bottom;
    background-size: 100%;
}
.doc-photo4{
    background: url("../../img/diagnostics/doc4.png") no-repeat left bottom;
    background-size: 100%;
}
.doc-photo5{
    background: url("../../img/diagnostics/doc5.png") no-repeat left bottom;
    background-size: 100%;
}
.doc-say{
    width: 100%;
    height: auto;
    padding: 20px;
    background: #4d7588;
    border-radius: 20px;
    position: relative;
}
.doc-say:after{
    content: '';
    background: url("../../img/diagnostics/corner.png") no-repeat left bottom;
    width: 28px;
    height: 17px;
    position: absolute;
    bottom: -17px;
    left: 15px;
}
.calendar-bg{
    background: url("../../img/diagnostics/calendar-bg.png") no-repeat center;
    width: 64px;
    height: 64px;
    display: block;
    margin-top: -17px;
}
/*========================================================================================================================*/
/*=======================================================ЗАПИСЬ===========================================================*/
/*========================================================================================================================*/
.rec-photo{
    background: url("../../img/record/rec-pic/1.png") no-repeat 0px bottom;
    width: 596px;
    height: 491px;
    background-size: 100%;
    margin-left: -100px;
}
.rec-photo2{
    background: url("../../img/record/rec-pic/2.png") no-repeat 0px bottom;
    width: 596px;
    height: 491px;
    background-size: 100%;
    margin-left: -100px;
}
.rec-photo3{
    background: url("../../img/record/rec-pic/3.png") no-repeat 0px bottom;
    width: 596px;
    height: 491px;
    background-size: 100%;
    margin-left: -100px;
}
.rec-photo4{
    background: url("../../img/record/rec-pic/4.png") no-repeat 0px bottom;
    width: 596px;
    height: 491px;
    background-size: 100%;
    margin-left: -100px;
}
.rec-photo5{
    background: url("../../img/record/rec-pic/5.png") no-repeat 0px bottom;
    width: 596px;
    height: 491px;
    background-size: 100%;
    margin-left: -100px;
}
.rec-photo6{
    background: url("../../img/record/rec-pic/6.png") no-repeat 0px bottom;
    width: 596px;
    height: 491px;
    background-size: 100%;
    margin-left: -100px;
}
.rec-photo7{
    background: url("../../img/record/rec-pic/7.png") no-repeat 0px bottom;
    width: 596px;
    height: 491px;
    background-size: 100%;
    margin-left: -100px;
}

.korpus > div, .korpus > input { display: none; }
.korpus > label { cursor: pointer; position: relative; padding: 15px 10px;  border: 1px solid transparent; line-height: 0; margin-bottom: -1px; }
.korpus > label:hover{color: white;}
.korpus input[type="radio"]:checked + label { background: #668EA1; color: white !important;}
.korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.korpus > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.korpus > input:nth-of-type(5):checked ~ div:nth-of-type(5),
.korpus > input:nth-of-type(6):checked ~ div:nth-of-type(6),
.korpus > input:nth-of-type(7):checked ~ div:nth-of-type(7),
.korpus > input:nth-of-type(8):checked ~ div:nth-of-type(8),
.korpus > input:nth-of-type(8):checked ~ div:nth-of-type(9)
{ display: block; }

.service-ico{
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 67px;
    width: 68px;
    height: 68px;
    float: right;
    background: #778899;
}


.w33p{
    width: 33%;
}
.w50p{
    width: 50%;
}
.w66p{
    width: 66%;
}
.w100p{
    width: 100%;
}
.rec-line{
    width: 100%;
    height: 10px;
    background: #547B8D;
    border: 1px solid #406475;
    position: relative;
}
.rec-line-active{
    content: '';
    background: #FFD400;
    height: 6px;
    display: block;
    z-index: 2;
    position: absolute;
    margin-top: 1px;
}
.rec-dot a{
    position: absolute;
    top: -20px;
    left: -10px;
}
.rec-dot1{
    position: absolute;
    top: -6px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #547B8D;
    border: 1px solid #406475;
}
.rec-dot2{
    position: absolute;
    top: -6px;
    left: 32%;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #547B8D;
    border: 1px solid #406475;
}
.rec-dot3{
    position: absolute;
    top: -6px;
    left: 65%;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #547B8D;
    border: 1px solid #406475;
}
.rec-dot4{
    position: absolute;
    top: -6px;
    left: 99%;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #547B8D;
    border: 1px solid #406475;
}
.rec-dot5{
    position: absolute;
    top: -6px;
    left: 49%;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #547B8D;
    border: 1px solid #406475;
}
.rec-dot-active:after{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 10px;
    margin: 2px auto;
    background: #FFD400;
    display: block;
}


.rec-line2{
    width: 1141px;
    height: 39px;
    background: url("../../img/record/rec-line2.png") no-repeat center;
}
.rec-line3{
    width: 1141px;
    height: 39px;
    background: url("../../img/record/rec-line3.png") no-repeat center;
}
.rec-line4{
    width: 1141px;
    height: 39px;
    background: url("../../img/record/rec-line4.png") no-repeat center;
}
.w355{
    width: 355px;
}
.w165{
    width: 165px;
}
.w70{
    width: 70px;
}
.rec-form{
    height: 37px;
    border: 1px solid #c2c2c2;
    background: white !important;
    padding: 0px 10px;
}
input[type=checkbox] {
    visibility: hidden;
}
.squaredBox {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 2px;
    position: relative;
}

.squaredBox label {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 2px;
    top: 3px;
}

.squaredBox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #808080;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredBox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredBox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.rec-pic-line{
    width: 1141px;
    height: 39px;
    background: url("../../img/record/rec-pic-line.png") no-repeat center;
}
.rec-pic-line2{
    width: 1141px;
    height: 39px;
    background: url("../../img/record/rec-pic-line2.png") no-repeat center;
}
.rec-pic-line3{
    width: 1141px;
    height: 39px;
    background: url("../../img/record/rec-pic-line3.png") no-repeat center;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/



.cabinet-box{
    width: 100%;
    padding: 6px 10px 12px 25px;
    display: block;
    background: #668EA1;
    border: 1px solid rgba(255, 255, 255, 0.34) !important;
}
.cabinet-box:hover, .cabinet-box2:hover{
    background: #73a0b6;
    border: 1px solid rgba(255, 255, 255, 0.34) !important;
}
.cabinet-box2{
    width: 100%;
    padding: 10px;
    display: block;
    background: #668EA1;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.34) !important;
    overflow: hidden;
}
.cabinet-box2 img{
    height: 38px;
    float: left;
}

.cabinet-box2 span{
    float: left;
    margin-top: 5px;
}
.cabinet-box3{
    width: 100%;
    padding: 10px;
    display: block;
    background: #668EA1;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.34) !important;
}
.cabinet-box3:hover{
    border: 1px solid rgba(255, 255, 255, 0.34) !important;
}
#collapseOne{
    position: absolute;
    z-index: 22;
    width: 653px;
    left: 15px;
}
#collapseOne .cabinet-box:hover{
    background: #7DA5B9;
}
.cabinet-box3-inside-open{
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: #7DA5B9;
}
.cabinet-box3-inside-open svg{
    width: 8px;
    fill: white;
}
.cabinet-box3-inside-close svg{
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}
.doc-work-time{
    color: #ffdd00;
    display: block;
}
.rec-big-photo a:hover, .rec-small-photo a:hover{
    background: #7DA5B9;
}
.rec-big-photo a{
    padding: 7px;
}
/*=======================================================================================================================*/

.progress-pie-chart {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}
.progress-pie-chart.gt-50 {
    background-color: #FD0;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    width: 70px;
    height: 70px;
    clip: rect(0, 70px, 70px, 35px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    width: 70px;
    height: 70px;
    clip: rect(0, 35px, 70px, 0);
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 35px, 70px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 70px, 70px, 35px);
    background: #9DCBE0;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 57px / 2);
    top: calc(50% - 57px / 2);
    width: 57px;
    height: 57px;
    background-color: #769FB2;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 24px;
    color: white;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

/*=======================================================================================================================*/

.record-pic-date{
    width: 100%;
}
.record-pic-date li{
    float: left;
    width: 11%;
}
.back-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.back-btn svg{
    fill: white;
    opacity: 0.4;
}
.back-btn:hover svg{
    opacity: 1;
}
#xxx{
     opacity: 0;
}
.balloon-link{
    float: right;
}
.chooseClinic .svg-metro1, .chooseClinic .svg-metro2, .chooseClinic .svg-metro3, .chooseClinic .svg-metro4 {
    position: relative;
    top: 3px;
    z-index: 2;
}
.chooseClinic .svg-metro1:before, .chooseClinic .svg-metro2:before, .chooseClinic .svg-metro3:before, .chooseClinic .svg-metro4:before {
    content: '';
    position: absolute;
    top: -8px;
    left: -4px;
    width: 28px;
    height: 28px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
}