@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        min-width: 968px !important;
    }
    .max-width1170{
        max-width: 968px !important;
    }
    .bigblock .top {
        font-size: 20px !important;
    }
    .teeth-img-box h2 {
        font-size: 18px !important;
    }
    .shtorka ul li a {
        padding: 9% 7px !important;
    }
    .topcontact {
        width: 39% !important;
    }
    .logo img {
        width: 100% !important;
    }
    .logo {
        width: 200px !important;
        margin: 0 2.5% 0 .5% !important;
    }
    .shtorka li:first-child a {
        margin: 15px 22px 0px 0 !important;
    }
    .main-slider img.slider-image {
        margin: 0 -23% !important;
    }
    .main-slider h2 {
        font-size: 42px !important;
    }
    .textslider .container{
        height: 315px !important;
    }
    .pat{
        width: 13% !important;
    }
    .footcontac {
        width: 51% !important;
    }





    .iconbest {
        left: 106px !important;
        width: 30px !important;
        height: 30px !important;
        background-size: 100% !important;
    }
    .week-doc {
        font-size: 22px !important;
    }
    .blockabout h2 {
        font-size: 32px !important;
    }
    .blockbenefits li {
        font-size: 14px !important;
    }
    #sticker:after {
        width: 237px !important;
        left: 6px !important;
    }
    #sticker {
        margin-left: 0 !important;
        width: 307px !important;
        padding: 14px !important;
    }
    #sticker figure figcaption {
        font-size: 16px !important;
    }
    .textforbest {
        font-size: 14px !important;
    }
    .besttext {
        font-size: 12px !important;
    }
    .otzuvtitle h2 {
        font-size: 32px !important;
    }
    .eviewtitle-btn{
        padding-top: 25px !important;
    }
    .eviewtitle-btn a {
        font-size: 13px !important;
        line-height: 28px;
    }
    .bestotzuv {
        font-size: 16px !important;
    }
    .vote label {
        font-size: 13px !important;
    }
    .vote-result ul li{
        font-size: 13px !important;
    }
    .onenew h4 {
        font-size: 17px !important;
        line-height: 27px !important;
    }
    .bankname img {
        width: 43% !important;
    }
    .paycard{
        display: inline-block !important;
    }
    ul.paycard li a img {
        width: 70% !important;
        margin-top: 10px !important;
    }
    .map h2 {
        font-size: 28px !important;
    }
    .map .metroname ul li {
        font-size: 19px !important;
    }
    .metroname li span {
        font-size: 17px !important;
    }
    .block1 {
        margin: 0 !important;
    }
    .block2 {
        margin: 0 !important;
    }
    .block1 img {
        width: 11% !important;
    }
    .block2 img {
        width: 11% !important;
    }
    .quest {
        margin: 0 10px !important;
    }
    .block1 a, .block2 a {
        font-size: 14px !important;
    }
    .slide-bg1 {
        background: url('../../img/slider/01.png') -450px 0px no-repeat !important;
    }
    .slide-bg2{
        background: url('../../img/slider/02.png') -450px 0px no-repeat !important;
    }
    .slide-bg3{
        background: url('../../img/slider/03.png') -450px 0px no-repeat !important;
    }
    .slide-bg4{
        background: url('../../img/slider/04.png') -450px 0px no-repeat !important;
    }
    .slide-bg5{
        background: url('../../img/slider/05.png') -450px 0px no-repeat !important;
    }
    .slide-bg6{
        background: url('../../img/slider/06.png') -450px 0px no-repeat !important;
    }
    .slide-bg7{
        background: url('../../img/slider/07.png') -450px 0px no-repeat !important;
    }
    .slide-bg8{
        background: url('../../img/slider/08.png') -450px 0px no-repeat !important;
    }
    .rec-photo{
        margin-left: -58% !important;
    }
    .rec-photo2{
        margin-left: -58% !important;
    }
    .rec-photo3{
        margin-left: -58% !important;
    }
    .rec-photo3{
        margin-left: -58% !important;
    }
    .rec-photo4{
        margin-left: -58% !important;
    }
    .rec-photo5{
        margin-left: -58% !important;
    }
    .rec-photo6{
        margin-left: -58% !important;
    }
    .rec-photo6{
        margin-left: -58% !important;
    }
    .textslider .submit-btn {
        right: 6% !important;
    }
}
@media screen and (min-width: 0) and (max-width: 991px) {
    .wrapper {
        min-width: 750px !important;
    }
    .container {
        min-width: 750px !important;
    }
    .max-width1170{
        max-width: 750px !important;
    }
    .bigblock .bottom {
        font-size: 30px !important;
    }
    .bigblock span {
        font-size: 15px !important;
    }
    .panel-collapse .teeth-img-box h2 {
        font-size: 17px !important;
    }
    .teeth-img-box h2 {
        font-size: 17px !important;
    }
    .panel-collapse .teeth-img-box {
        font-size: 13px !important;
    }
    .bigblock img {
        width: 40px !important;
    }
    .bigblock .teeth-DESNA {
        width: 56px !important;
        margin: -13px 0 0 -16px !important;
    }
    .teeth-img-box img {
        width: 40px !important;
    }
    .teeth-img-box .teeth-PULPIT {
        width: 52px !important;
        margin: -10px 0 0 1px !important;
    }
    .teeth-img-box .teeth-DESNA {
        width: 56px !important;
        margin: -13px 0 0 -16px !important;
    }
    .teeth-img-box {
        height: 65px !important;
        line-height: 19px !important;
    }
    .bigblock {
        height: 145px !important;
    }
    .logo img {
        width: 100% !important;
    }
    .logo {
        width: 140px !important;
        margin: 11px 0 0 .5% !important;
    }
    .shtorka li:first-child a {
        margin: 0 !important;
    }
    .shtorka li:not(:first-child) a {
        font-size: 12px !important;
        padding: 22% 12px !important;
    }
    .shtorka li a span {
        font-size: 12px !important;
    }
    .rezhum p {
        font-size: 27px !important;
        margin-top: 6px !important;
    }
    .rezhum span {
        margin-top: 3px !important;
        font-size: 9px !important;
    }
    .tel {
        padding-top: 5px !important;
        font-size: 28px !important;
    }
    i.sub {
        font-size: 8pt !important;
    }
    .tel span, .tel a {
        font-size: 9px !important;
    }
    .topmenu {
        min-width: 750px !important;
    }
    .main-slider img.slider-image {
        margin: 0 -23% 0 !important;
    }
    .carousel-indicators {
        left: 26% !important;
        width: 47% !important;
    }
    .main-slider h2 {
        font-size: 30px !important;
    }
    .textslider img {
        width: 24% !important;
    }
    .textslider .anons {
        font-size: 16px !important;
    }
    .textslider .container{
        height: 315px !important;
    }



    .blockabout h2 {
        font-size: 32px !important;
    }
    .blockbenefits li {
        font-size: 14px !important;
    }
    #sticker:after {
        width: 237px !important;
        left: 6px !important;
    }
    #sticker {
        width: 234px !important;
        margin-right: 0 !important;
        padding: 14px !important;
    }
    .iconbest {
        left: 73px !important;
        width: 30px !important;
        height: 30px !important;
        background-size: 100% !important;
    }
    .week-doc {
        font-size: 16px !important;
    }
    .textforbest {
        font-size: 14px !important;
    }
    .besttext {
        margin: 0 !important;
    }
    .besttext {
        font-size: 12px !important;
    }
    .otzuvtitle h2 {
        font-size: 24px !important;
    }
    .eviewtitle-btn{
        padding-top: 25px !important;
    }
    .eviewtitle-btn a {
        font-size: 10px !important;
    }
    .bestotzuv {
        font-size: 13px !important;
    }
    #sticker figure figcaption {
        font-size: 12px !important;
    }
    #sticker figure img {
        width: 216px !important;
    }
    #sticker:after {
        width: 222px !important;
    }
    .vote label {
        font-size: 13px !important;
    }
    .vote-result ul li{
        font-size: 13px !important;
    }
    .onenew h4 {
        font-size: 17px !important;
        line-height: 27px !important;
    }
    .bankname img {
        width: 43% !important;
    }
    .paycard{
        display: inline-block !important;
    }
    ul.paycard li a img {
        width: 70% !important;
        margin-top: 10px !important;
    }
    .map h2 {
        font-size: 28px !important;
    }
    .map .metroname ul li {
        font-size: 19px !important;
    }
    .metroname li span {
        font-size: 13px !important;
    }
    .block1 {
        margin: 0 !important;
    }
    .block2 {
        margin: 0 !important;
    }
    .block1 img {
        width: 11% !important;
    }
    .block2 img {
        width: 11% !important;
    }
    .quest {
        margin: 0 10px !important;
    }
    .block1 a, .block2 a {
        font-size: 13px !important;
    }

    .compan{
        width: 19% !important;
    }
    .footcontac {
        width: 42% !important;
    }
    .hide-teeth{
        display: none !important;
    }
    .bigblock .top {
        font-size: 19px !important;
    }
    .slide-bg1 {
        background: url('../../img/slider/01.png') -600px 0px no-repeat !important;
    }
    .slide-bg2{
        background: url('../../img/slider/02.png') -600px 0px no-repeat !important;
    }
    .slide-bg3{
        background: url('../../img/slider/03.png') -600px 0px no-repeat !important;
    }
    .slide-bg4{
        background: url('../../img/slider/04.png') -600px 0px no-repeat !important;
    }
    .slide-bg5{
        background: url('../../img/slider/05.png') -600px 0px no-repeat !important;
    }
    .slide-bg6{
        background: url('../../img/slider/06.png') -600px 0px no-repeat !important;
    }
    .slide-bg7{
        background: url('../../img/slider/07.png') -600px 0px no-repeat !important;
    }
    .slide-bg8{
        background: url('../../img/slider/08.png') -600px 0px no-repeat !important;
    }
    .doc-docs a {
        display: block !important;
        width: 51% !important;
        margin: 0 auto 10px !important;
        float: none !important;
    }
    #cd-vertical-nav{
        display: none !important;
    }
    .carousel-indicators {
        bottom: 20px !important;
    }
    .slider .carousel-control {
        top: 26% !important;
    }
    .footerlist .title, .submenu .title {
        font-size: 16px !important;
    }
    .footerlist li, .submenu li {
        font-size: 14px !important;
    }
    .open-map div{
        font-size: 13px !important;
    }
    .rec-photo{
        margin-left: -35% !important;
        width: 500px !important;
        height: 420px !important;
    }
    .rec-photo2{
        margin-left: -35% !important;
        width: 500px !important;
        height: 420px !important;
    }
    .rec-photo3{
        margin-left: -35% !important;
        width: 500px !important;
        height: 420px !important;
    }
    .rec-photo3{
        margin-left: -35% !important;
        width: 500px !important;
        height: 420px !important;
    }
    .rec-photo4{
        margin-left: -35% !important;
        width: 500px !important;
        height: 420px !important;
    }
    .rec-photo5{
        margin-left: -35% !important;
        width: 500px !important;
        height: 420px !important;
    }
    .rec-photo6{
        margin-left: -35% !important;
        width: 500px !important;
        height: 420px !important;
    }
    .textslider .submit-btn {
        right: 6% !important;
    }
}

/*========================================================================================================================*/
/*uslugi*/
/*========================================================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .figure-actions figure figcaption {
        font-size: 18px !important;
    }
    #service-hide {
        left: 212px !important;
        width: 738px !important;
    }
    .fixed-box-top {
        width: 213px !important;
        font-size: 16px !important;
    }
    #prof-clean figure {
        width: 100% !important;
    }
    .form-input1 {
        width: 100% !important;
    }
    .form-input2 {
        width: 48% !important;
        margin: 0 !important;
        float: left !important;
        margin-bottom: 20px !important;
    }
    .form-input2r{
        width: 48% !important;
        margin: 0 !important;
        float: right !important;
        margin-bottom: 20px !important;
    }
    .btn-arrow-left {
        left: -19px !important;
    }
    .btn-arrow-right {
        left: 19px !important;
    }
    .doc-slider {
        height: 270px !important;
    }
    .btn-arrow-left, .btn-arrow-right {
        top: -25px !important;
    }
}
@media screen and (min-width: 0) and (max-width: 991px) {

    .listprice {
        font-size: 15px !important;
    }
    .figure-actions figure figcaption {
        font-size: 14px !important;
    }
    .figure-actions figure figcaption {
        font-size: 18px !important;
    }
    #service-hide {
        left: 157px !important;
        width: 573px !important;
    }
    .fixed-box-top {
        width: 158px !important;
        font-size: 16px !important;
    }
    #prof-clean figure {
        width: 100% !important;
    }
    .doc-slider {
        height: 215px !important;
    }
    .btn-arrow-left {
        left: 0 !important;
    }
    .btn-arrow-left, .btn-arrow-right {
        top: 101px !important;
    }
    .carousel-control.right {
        right: 30px !important;
    }
    .doc-slider .carousel-control {
        top: -20% !important;
    }
    .form-input1 {
        width: 100% !important;
    }
    .form-input2 {
        width: 48% !important;
        margin: 0 !important;
        float: left !important;
        margin-bottom: 20px !important;
    }
    .form-input2r{
        width: 48% !important;
        margin: 0 !important;
        float: right !important;
        margin-bottom: 20px !important;
    }



    .figure-actions figure figcaption {
        font-size: 13px !important;
    }
    .rightpagenav {
        font-size: 14px !important;
        margin-top: 8px !important;
    }
    .blocknew h4 {
        margin: -1px 0 10px !important;
    }
}
/*========================================================================================================================*/
/*patients*/
/*========================================================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .patients-services a {
        width: 230px !important;
    }
    .patients-box .item {
        height: 220px !important;
    }
}
@media screen and (min-width: 0) and (max-width: 991px) {
    .patients-services a {
        width: 100% !important;
    }
    .patients-box .item {
        height: 175px !important;
        margin-bottom: 20px !important;
    }
    .patients-box .item .inside-item h2{
        font-size: 14px !important;
    }
}
/*========================================================================================================================*/
/*aboutUs*/
/*========================================================================================================================*/
@media screen and (min-width: 0) and (max-width: 1199px) {
    .metroname.mt-57{
        margin-top: 48px !important;
        font-size: 18px !important;
    }
    .metroname.mt-57 li {
        line-height: 19px !important;
    }
    .metroname.mt-57 li span {
        font-size: 15px !important;
    }
}
/*========================================================================================================================*/
/*doctors*/
/*========================================================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .doc-item .inside-item h2{
        font-size: 20px !important;
        margin-bottom: 3px !important;
    }
    .doc-item .inside-item h3{
        font-size: 16px !important;
    }
}
@media screen and (min-width: 0) and (max-width: 991px) {
    .doc-item .inside-item h2{
        font-size: 17px !important;
        margin-bottom: 3px !important;
    }
    .doc-item .inside-item h3{
        font-size: 13px !important;
    }
    .doc-item .inside-item h4{
        font-size: 11px !important;
    }
    .srats-box {
        width: auto !important;
    }
    .srats-box .star-active svg, .srats-box .star svg {
        width: 8px !important;
    }
}
/*========================================================================================================================*/
/*doctorPg*/
/*========================================================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #fixed-box{
        width: 213px !important;
    }

    #fixed-box2{
        width: 213px !important;
    }
    #fixed-box2 img{
        width: 100%;
    }
}
@media screen and (min-width: 0) and (max-width: 991px) {
    #fixed-box{
        width: 158px !important;
    }

    #fixed-box2{
        width: 158px !important;
    }
    #fixed-box2 img{
        width: 100%;
    }
    .honors-box ul li {
        margin-right: 0 !important;
    }
    .honors-box ul li img{
        width: 70% !important;
    }
    .doc-pg h2.f-36 {
        font-size: 29px !important;
    }
}
/*========================================================================================================================*/
/*reviews*/
/*========================================================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .main-form-stars{
        margin-top: 65px !important;
    }
}
@media screen and (min-width: 0) and (max-width: 991px) {
    .main-form-stars{
        margin-top: 65px !important;
    }
    .main-form-stars h2{
        font-size: 15px !important;
    }
}
/*========================================================================================================================*/
/*vacancy*/
/*========================================================================================================================*/
@media screen and (min-width: 0) and (max-width: 991px) {
    .vacancy-block .drop-down {
        font-size: 14px !important;
        margin-top: 1px !important;
    }
    .vacancy-block .col-xs-7 h3.f-18{
        line-height: 42px !important;
        margin-bottom: 0 !important;
    }
    .vacancy-block .col-xs-7 h2.f-24{
        margin-bottom: 10px !important;
    }
    .panel-collapse h2{
        font-size: 30px !important;
    }
}
/*========================================================================================================================*/
/*vacancy*/
/*========================================================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .map .metroname ul li {
        line-height: 19px !important;
    }
}
@media screen and (min-width: 0) and (max-width: 991px) {
    .map .metroname ul li {
        line-height: 19px !important;
    }
    .contacts-title h3{
        display: inline-block !important;
    }
}
/*========================================================================================================================*/
/*diagnostics-online*/
/*========================================================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .cabinet-shtorka ul li:not(:first-child) a {
        padding: 15% 7px !important;
        font-size: 16px !important;
    }
    .doc-photo, .doc-photo2, .doc-photo3, .doc-photo4, .doc-photo5 {
        margin-left: -24% !important;
    }
    .diagnostic-price{
        margin: 0 !important;
    }
    .diagnostic-price span{
        font-size: 60px !important;
    }
    .diagnostic-submit{
        margin-top: 13px !important;
    }
    .diagnostic-submit img{
        margin-top: -17px !important;
    }
    .chooseClinic-collapse{
        width: 536px !important;
    }
}
@media screen and (min-width: 0) and (max-width: 991px) {
    .cabinet-shtorka ul li:not(:first-child) a {
        padding: 26% 7px !important;
        font-size: 14px !important;
    }
    .cabinet-shtorka li:first-child {
        margin: 0 10px !important;
    }
    .doc-photo, .doc-photo2, .doc-photo3, .doc-photo4, .doc-photo5 {
        margin-left: -60% !important;
    }
    .diagnostic-price{
        margin: 0 !important;
        font-size: 20px !important;
    }
    .diagnostic-price span{
        font-size: 34px !important;
    }
    .diagnostic-submit{
        margin-top: 0 !important;
    }
    .diagnostic-submit img{
        margin-top: -3px !important;
        width: 12% !important;
    }
    .doc-say h2{
        font-size: 26px !important;
    }
    .f-18{
        font-size: 15px !important;
    }
    .svg-rub-med svg {
        height: 19px !important;
    }
    .cabinet-box {
        font-size: 17px !important;
    }
    .cabinet-box2 {
        font-size: 15px !important;
    }
    .cabinet-box2 span {
        font-size: 10px !important;
        margin-top: 13px !important;
        display: inherit !important;
        float: none !important;
    }
    .cabinet-box2 h2 {
        margin-top: 13px !important;
    }
    .chooseClinic-collapse{
        width: 408px !important;
    }
    .chooseClinic-collapse .cabinet-box {
        padding: 0px 10px 10px 10px !important;
        font-size: 13px !important;
    }
    .chooseClinic-collapse .cabinet-box .svg-metro1 svg,
    .chooseClinic-collapse .cabinet-box .svg-metro2 svg,
    .chooseClinic-collapse .cabinet-box .svg-metro3 svg,
    .chooseClinic-collapse .cabinet-box .svg-metro4 svg {
        position: relative !important;
        top: 5px !important;
    }
    .rec-big-photo-mark h2{
        font-size: 34px !important;
        text-align: center !important;
    }
    .rec-big-photo-mark .srats-box {
        text-align: center !important;
    }
    .rec-big-photo img{
        width: 16% !important;
    }
    .picord-datapicker h2, .picord-datapicker a{
        font-size: 18px !important;
    }
    .picord-datapicker a{
        margin-top: -4px !important;
    }
    .record-pic-date li {
        font-size: 15px !important;
    }
    .record-pic-form .w48p{
        width: 47% !important;
    }
    .squaredBox +label{
        font-size: 9px !important;
    }
}
/*========================================================================================================================*/
/*cabinet-main-cabinet*/
/*========================================================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .alert-box {
        font-size: 14px !important;
    }
    .alert-box div{
       line-height: 14px !important;
    }
    .ticket-list-mark{
        font-size: 11px !important;
    }
    .donutchart div > div:first-child{
        width: 385px !important;
    }
}
@media screen and (min-width: 0) and (max-width: 991px) {
    .alert-box {
        padding: 0 10px !important;
    }
    .alert-box img{
        display: none !important;
    }
    .donutchart div > div:first-child{
        width: 345px !important;
    }
    .ticket-list-mark{
        font-size: 11px !important;
        display: inline-block !important;
        margin-left: 15px !important;
    }
    .ticket-list-box h2{
        margin-top: 0 !important;
    }
    .ticket-list-box h3{
        font-size: 13px !important;
    }
    .teeth-box {
        width: 325px !important;
    }
    .korpus > label {
         padding: 15px 5px !important;
    }
    .line-care-plan {
        width: 255px !important;
    }
    .cabinet-options img{
        width: 18%;
    }
    .cabinet-options .f-24{
        font-size: 19px !important;
    }
    .cabinet-options .font-16 {
        font-size: 14px !important;
    }
}