.patients-box .item .inside-item{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 3px;
    display: block;
    border: none;
    position: relative;
    margin: 0 auto;
}
.patients-box .item .inside-item img{
    width: 100%;
    margin: 0 0 10px 0;
}
.patients-box .item .inside-item:hover{
    border: none;
    text-decoration: none;
    outline: 2px solid #b9b9b9 !important;
    outline-offset: 3px;
    z-index: 2;
}
.patients-box .item .inside-item:active{
    outline: 2px solid #b9b9b9 !important;
    outline-offset: 0px;
}
.patients-box .item .inside-item:active:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    background: rgba(100,100,100,0.15);
    padding: 3px;
}

.patients-box .item { width: 25%;height: 240px;font-family: 'RobotoRegular', sans-serif; margin-bottom: 40px;}

/*.patients-services a{*/
    /*display: block;*/
    /*width: 263px;*/
    /*height: 230px;*/
/*}*/
/*.patients-services a:hover{*/
    /*outline: 2px solid #b9b9b9 !important;*/
    /*outline-offset: 5px;*/
    /*-moz-outline-radius: 20%;*/
    /*outline-radius:  20%;*/
/*}*/


.patients-services a{
    display: block;
    width: 263px;
    height: auto;
    position: relative;
    padding: 5px 0;
}
.patients-services a:hover{
    border: none;
    text-decoration: none;
    outline: 2px solid #b9b9b9 !important;
    outline-offset: 5px;
}
.patients-services a:active{
    outline: 1px solid #b9b9b9 !important;
    outline-offset: 0px;
}
.patients-services a:active:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    background: rgba(100,100,100,0.15);
    padding: 5px 0;
}
.patients-services a img{
    width: 80%;
    margin: 0 0 10px 0;
}