.main-form{
    background: #eae3d6;
    padding: 20px;
}
.form-input1, .form-input2, .form-textarea{
    resize: none;
    background: #fff !important;
    border: none;
    border-top: 1px solid #b2b2b2;
    padding: 12px 4px !important;
    line-height: 18px;
}
.form-input1{
    width: 61%;
}
.form-input2{
    width: 17%;
}
.reset-btn{
    border: none;
    background: none;
    margin-right: 30px;
    padding: 0;
}

.main-form-stars ul{
    overflow: hidden;
}
.main-form-stars ul li{
    float: left;
    width: 25%;
}
.doc-reviews-text{
    position: relative;
    padding-left: 30px;
}


.vacancy-link{
    display: block;
    margin-top: 4px;
    padding: 13px;
}
.vacancy-link:hover{
    text-decoration: none;
}
.drop-down.active > a.vacancy-link {
    background: #eae3d6;
    border-radius: 3px 3px 0 0;
}