.service-siteBar{
    position: relative;
    top: 0 !important;
}
.openMore{
    cursor: pointer;
}
.fixed-box-top{
    position:fixed !important;top:90px !important;
    width: 265px;
}
.service-box1{
    background: url("../../img/service/1.jpg")no-repeat;
}
.service-box2{
    background: url("../../img/service/2.jpg")no-repeat;
}
.service-box3{
    background: url("../../img/service/3.jpg")no-repeat;
}
.sell-box{
    background: url("../../img/service/sell.png")no-repeat;
    width: 48px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: -4px;
}
#service-hide{
    display: none;
    position: absolute;
    background: #fff;
    padding: 10px;
    z-index: 6;
    left: 263px;
    top: -10px;
    width: 888px;
}

#service-hide:target{
    display: block;
}
#service-hide .service-siteBar a{
    margin-right: 10px;
    float: left;
}
.service-box4{
    background: url("../../img/service/4.jpg")no-repeat;
}
.service-box5{
    background: url("../../img/service/5.jpg")no-repeat;
}
.service-box6{
    background: url("../../img/service/6.jpg")no-repeat;
}
.service-box7{
    background: url("../../img/service/7.jpg")no-repeat;
}
.service-box8{
    background: url("../../img/service/8.jpg")no-repeat;
}
.service-box9{
    background: url("../../img/service/9.jpg")no-repeat;
}
.service-box10{
    background: url("../../img/service/10.jpg")no-repeat;
}
.service-box11{
    background: url("../../img/service/11.jpg")no-repeat;
}
.prof-clean{
    background: url("../../img/stick1.png");
    background-size: 100%;
    height: 133px !important;
}
.service-line{
    width: 100%;
    height: 5px;
    background-color: #f2f2f2;
}

.korpus > div, .korpus > input { display: none; }
.korpus label { cursor: pointer; position: relative; padding: 15px 10px; line-height: 0; margin-bottom: -1px; }
.korpus input[type="radio"]:checked + label { border: 1px solid #f5f5f5; border-bottom: none; border-radius: 3px; }
.korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3) { display: block; border-top: 1px solid #f5f5f5; }


.del { display: none; }
.del + label:after { content: '\25BE'; }
.del:checked + label:after{ content: '\25B4'; }
.del:not(:checked) + label + * { display: none; } /* фактически нужна только одна строка */

/* вид CSS кнопки */
.del:not(:checked) + label,
.del:checked + label {
    display: inline-block;
    cursor: pointer;
}


.service-form{
    background: #eae3d6;
    padding: 20px;
}

.reset-btn{
    border: none;
    background: none;
    margin-right: 30px;
    padding: 0;
}

.carousel-inner .item img{
    margin: 30px auto 10px;
}
.carousel-inner .item {
    padding: 0 66px;
}
.doc-slider{
    height: 312px;
    background: #e4e7e9;
}
.btn-arrow-left {
    left: -30px;
}
.btn-arrow-right{
    left: 30px;
}
.doc-reviews-text{
    margin-left: 22px;
    line-height: 21px;
    position: relative;
    padding-left: 10px;
}
.doc-reviews-text i:nth-child(1){
    margin-left: -22px;
}
.right-fixed-bar{
    display: none;
}



/*===============================================================================================================*/
/*===============================================================================================================*/

#prof-clean {
    display: block; }

#prof-clean figure {
    display: block;
    width: 263px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    margin-top: 10px; }
#prof-clean figure img {
    margin-top: 0; }
#prof-clean figure:hover figcaption {
    top: 0; }

#prof-clean figure figcaption {
    display: block;
    position: absolute;
    width: 100%;
    top: -100px;
    left: 0;
    transition: .3s;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    text-transform: uppercase;
    color: #0793c6; }