@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(media.css);

@font-face {
    font-family: 'RobotoRegular';
    src: url('../../fonts/RobotoRegular.eot');
    src: url('../../fonts/RobotoRegular.eot') format('embedded-opentype'),
    url('../../fonts/RobotoRegular.woff2') format('woff2'),
    url('../../fonts/RobotoRegular.woff') format('woff'),
    url('../../fonts/RobotoRegular.ttf') format('truetype'),
    url('../../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

/* -----------------------------------------------------
	include function 'calc' and Compass-like mixins
*/
/* -----------------------------------------------------
	CONFIG
*/
/*-------------------------------------------------------
	Color Properties
*/
/*-------------------------------------------------------
	Background and Border Properties
*/
/*-------------------------------------------------------
	Basic Box Properties
*/
/*-------------------------------------------------------
	Flexible Box Layout
*/
/*-------------------------------------------------------
	Text Properties
*/
/*-------------------------------------------------------
	Text Decoration Properties
*/
/*-------------------------------------------------------
	Animation Properties
*/
/*-------------------------------------------------------
	Transform Properties
*/
/*-------------------------------------------------------
	Transitions Properties
*/
/*-------------------------------------------------------
	Basic User Interface Properties
*/
/*-------------------------------------------------------
	Multi-column Layout Properties
*/
/*-------------------------------------------------------
	Filter Effects Properties
*/
/* -----------------------------------------------------
	include default styles, fonts, indents, and so on...
*/
/*@import "_default/_normalize.scss";*/
html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

button, input, textarea {
    font-family: 'Open Sans', sans-serif;
}

input, textarea {
    line-height: 18px;
}

figure {
    margin: 0;
    padding: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.unstyled-textarea, .unstyled-input {
    background: none;
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
}

.unstyled-textarea {
    resize: none;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
}

.no-marg {
    margin: 0;
}

.no-mr {
    margin-right: 0 !important;
}

.no-pad {
    padding: 0;
}

.exact-fit {
    margin: 0;
    padding: 0;
}

.disable-hover, .disable-hover * {
    pointer-events: none !important;
}

.ir {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    left: -1000%;
    top: -1000%;
    text-indent: -1000%;
}

img.r {
    width: 100%;
    height: auto;
    display: block;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.v-top {
    vertical-align: top;
}

.v-middle {
    vertical-align: middle;
}

.v-bottom {
    vertical-align: bottom;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-clear {
    clear: both;
}

.pull-clear:after {
    display: table;
    content: '';
    clear: both;
}

.block {
    display: block !important;
}

.inline {
    display: inline-block !important;
}

.table {
    display: table;
}

.list-item {
    display: list-item;
}

.cell {
    display: table-cell;
}

.black {
    color: #000000;
}

.white {
    color: #ffffff;
}

.bg-black {
    background-color: #000000;
}

.bg-white {
    background-color: #ffffff;
}

/* -----------------------------------------------------
	fonts weight
*/
.light {
    font-weight: 100;
}

.semilight {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.boldest {
    font-weight: 900;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

a.underline:hover {
    text-decoration: none;
}

.rev-underline {
    text-decoration: none;
}

a.rev-underline:hover {
    text-decoration: underline;
}

/* -----------------------------------------------------
	fonts size
*/
.font-6 {
    font-size: 6px;
}

.font-7 {
    font-size: 7px;
}

.font-8 {
    font-size: 8px;
}

.font-9 {
    font-size: 9px;
}

.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

.font-19 {
    font-size: 19px;
}

.font-20 {
    font-size: 20px;
}

.font-21 {
    font-size: 21px;
}

.font-22 {
    font-size: 22px;
}

.font-23 {
    font-size: 23px;
}

.font-24 {
    font-size: 24px;
}

.font-25 {
    font-size: 25px;
}

.font-26 {
    font-size: 26px;
}

.font-27 {
    font-size: 27px;
}

.font-28 {
    font-size: 28px;
}

.font-29 {
    font-size: 29px;
}

.font-30 {
    font-size: 30px;
}

.font-31 {
    font-size: 31px;
}

.font-32 {
    font-size: 32px;
}

.font-33 {
    font-size: 33px;
}

.font-34 {
    font-size: 34px;
}

.font-35 {
    font-size: 35px;
}

.font-36 {
    font-size: 36px;
}

.font-37 {
    font-size: 37px;
}

.font-38 {
    font-size: 38px;
}

.font-39 {
    font-size: 39px;
}

.font-40 {
    font-size: 40px;
}

.font-41 {
    font-size: 41px;
}

.font-42 {
    font-size: 42px;
}

.font-43 {
    font-size: 43px;
}

.font-44 {
    font-size: 44px;
}

.font-45 {
    font-size: 45px;
}

.font-46 {
    font-size: 46px;
}

.font-47 {
    font-size: 47px;
}

.font-48 {
    font-size: 48px;
}

.font-49 {
    font-size: 49px;
}

.font-50 {
    font-size: 50px;
}

.font-51 {
    font-size: 51px;
}

.font-52 {
    font-size: 52px;
}

.font-53 {
    font-size: 53px;
}

.font-54 {
    font-size: 54px;
}

.font-55 {
    font-size: 55px;
}

.font-56 {
    font-size: 56px;
}

.font-57 {
    font-size: 57px;
}

.font-58 {
    font-size: 58px;
}

.font-59 {
    font-size: 59px;
}

.font-60 {
    font-size: 60px;
}

.font-68 {
    font-size: 68px;
}

/* -----------------------------------------------------
	sizes array of indents
*/
.island-5 {
    padding: 5px;
}

.island-10 {
    padding: 10px;
}

.island-15 {
    padding: 15px;
}

.island-20 {
    padding: 20px;
}

.island-25 {
    padding: 25px;
}

.island-30 {
    padding: 30px;
}

.island-35 {
    padding: 35px;
}

.island-40 {
    padding: 40px;
}

.island-45 {
    padding: 45px;
}

.island-50 {
    padding: 50px;
}

.island-55 {
    padding: 55px;
}

.island-60 {
    padding: 60px;
}

.island-65 {
    padding: 65px;
}

.island-70 {
    padding: 70px;
}

/* -----------------------------------------------------
	PADDINGS
*/
.pad-05 {
    padding-left: 5px;
    padding-right: 5px;
}

.pad-010 {
    padding-left: 10px;
    padding-right: 10px;
}

.pad-015 {
    padding-left: 15px;
    padding-right: 15px;
}

.pad-020 {
    padding-left: 20px;
    padding-right: 20px;
}

.pad-025 {
    padding-left: 25px;
    padding-right: 25px;
}

.pad-030 {
    padding-left: 30px;
    padding-right: 30px;
}

.pad-035 {
    padding-left: 35px;
    padding-right: 35px;
}

.pad-040 {
    padding-left: 40px;
    padding-right: 40px;
}

.pad-045 {
    padding-left: 45px;
    padding-right: 45px;
}

.pad-050 {
    padding-left: 50px;
    padding-right: 50px;
}

.pad-055 {
    padding-left: 55px;
    padding-right: 55px;
}

.pad-060 {
    padding-left: 60px;
    padding-right: 60px;
}

.pad-065 {
    padding-left: 65px;
    padding-right: 65px;
}

.pad-070 {
    padding-left: 70px;
    padding-right: 70px;
}

.pad-v5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-v10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-v15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-v20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-v25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pad-v30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad-v35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.pad-v40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pad-v45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.pad-v50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pad-v55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.pad-v60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pad-v65 {
    padding-top: 65px;
    padding-bottom: 65px;
}

.pad-v70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.pad-top-5 {
    padding-top: 5px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-top-15 {
    padding-top: 15px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-top-25 {
    padding-top: 25px;
}

.pad-top-30 {
    padding-top: 30px;
}

.pad-top-35 {
    padding-top: 35px;
}

.pad-top-40 {
    padding-top: 40px;
}

.pad-top-45 {
    padding-top: 45px;
}

.pad-top-50 {
    padding-top: 50px;
}

.pad-top-55 {
    padding-top: 55px;
}

.pad-top-60 {
    padding-top: 60px;
}

.pad-top-65 {
    padding-top: 65px;
}

.pad-top-70 {
    padding-top: 70px;
}

.pad-bot-5 {
    padding-bottom: 5px;
}

.pad-bot-10 {
    padding-bottom: 10px;
}

.pad-bot-15 {
    padding-bottom: 15px;
}

.pad-bot-20 {
    padding-bottom: 20px;
}

.pad-bot-25 {
    padding-bottom: 25px;
}

.pad-bot-30 {
    padding-bottom: 30px;
}

.pad-bot-35 {
    padding-bottom: 35px;
}

.pad-bot-40 {
    padding-bottom: 40px;
}

.pad-bot-45 {
    padding-bottom: 45px;
}

.pad-bot-50 {
    padding-bottom: 50px;
}

.pad-bot-55 {
    padding-bottom: 55px;
}

.pad-bot-60 {
    padding-bottom: 60px;
}

.pad-bot-65 {
    padding-bottom: 65px;
}

.pad-bot-70 {
    padding-bottom: 70px;
}

.pad-left-0 {
    padding-left: 0px;
}
.pad-left-5 {
    padding-left: 5px;
}

.pad-left-10 {
    padding-left: 10px;
}

.pad-left-15 {
    padding-left: 15px;
}

.pad-left-20 {
    padding-left: 20px;
}

.pad-left-25 {
    padding-left: 25px;
}

.pad-left-30 {
    padding-left: 30px;
}

.pad-left-35 {
    padding-left: 35px;
}

.pad-left-40 {
    padding-left: 40px;
}

.pad-left-45 {
    padding-left: 45px;
}

.pad-left-50 {
    padding-left: 50px;
}

.pad-left-55 {
    padding-left: 55px;
}

.pad-left-60 {
    padding-left: 60px;
}

.pad-left-65 {
    padding-left: 65px;
}

.pad-left-70 {
    padding-left: 70px;
}

.pad-right-5 {
    padding-right: 5px;
}

.pad-right-10 {
    padding-right: 10px;
}

.pad-right-15 {
    padding-right: 15px;
}

.pad-right-20 {
    padding-right: 20px;
}

.pad-right-25 {
    padding-right: 25px;
}

.pad-right-30 {
    padding-right: 30px;
}

.pad-right-35 {
    padding-right: 35px;
}

.pad-right-40 {
    padding-right: 40px;
}

.pad-right-45 {
    padding-right: 45px;
}

.pad-right-50 {
    padding-right: 50px;
}

.pad-right-55 {
    padding-right: 55px;
}

.pad-right-60 {
    padding-right: 60px;
}

.pad-right-65 {
    padding-right: 65px;
}

.pad-right-70 {
    padding-right: 70px;
}

/* -----------------------------------------------------
	MARGINS
*/
.marg-5 {
    margin: 5px;
}

.marg-10 {
    margin: 10px;
}

.marg-15 {
    margin: 15px;
}

.marg-20 {
    margin: 20px;
}

.marg-25 {
    margin: 25px;
}

.marg-30 {
    margin: 30px;
}

.marg-35 {
    margin: 35px;
}

.marg-40 {
    margin: 40px;
}

.marg-45 {
    margin: 45px;
}

.marg-50 {
    margin: 50px;
}

.marg-55 {
    margin: 55px;
}

.marg-60 {
    margin: 60px;
}

.marg-65 {
    margin: 65px;
}

.marg-70 {
    margin: 70px;
}

.marg-05 {
    margin-left: 5px;
    margin-right: 5px;
}

.marg-010 {
    margin-left: 10px;
    margin-right: 10px;
}

.marg-015 {
    margin-left: 15px;
    margin-right: 15px;
}

.marg-020 {
    margin-left: 20px;
    margin-right: 20px;
}

.marg-025 {
    margin-left: 25px;
    margin-right: 25px;
}

.marg-030 {
    margin-left: 30px;
    margin-right: 30px;
}

.marg-035 {
    margin-left: 35px;
    margin-right: 35px;
}

.marg-040 {
    margin-left: 40px;
    margin-right: 40px;
}

.marg-045 {
    margin-left: 45px;
    margin-right: 45px;
}

.marg-050 {
    margin-left: 50px;
    margin-right: 50px;
}

.marg-055 {
    margin-left: 55px;
    margin-right: 55px;
}

.marg-060 {
    margin-left: 60px;
    margin-right: 60px;
}

.marg-065 {
    margin-left: 65px;
    margin-right: 65px;
}

.marg-070 {
    margin-left: 70px;
    margin-right: 70px;
}

.marg-v5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.marg-v10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.marg-v15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.marg-v20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.marg-v25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.marg-v30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.marg-v35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.marg-v40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.marg-v45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.marg-v50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.marg-v55 {
    margin-top: 55px;
    margin-bottom: 55px;
}

.marg-v60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.marg-v65 {
    margin-top: 65px;
    margin-bottom: 65px;
}

.marg-v70 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.marg-top-5 {
    margin-top: 5px;
}

.marg-top-10 {
    margin-top: 10px;
}

.marg-top-13 {
    margin-top: 13px;
}

.marg-top-15 {
    margin-top: 15px;
}

.marg-top--10 {
    margin-top: -10px;
}

.marg-top--20 {
    margin-top: -20px;
}

.marg-top--25 {
    margin-top: -25px;
}

.marg-top-20 {
    margin-top: 20px;
}

.marg-top-25 {
    margin-top: 25px;
}

.marg-top-30 {
    margin-top: 30px;
}

.marg-top-33 {
    margin-top: 33px;
}

.marg-top-35 {
    margin-top: 35px;
}

.marg-top-40 {
    margin-top: 40px;
}

.marg-top-45 {
    margin-top: 45px;
}

.marg-top-50 {
    margin-top: 50px;
}

.marg-top-55 {
    margin-top: 55px;
}

.marg-top-60 {
    margin-top: 60px;
}

.marg-top-65 {
    margin-top: 65px;
}

.marg-top-70 {
    margin-top: 70px;
}

.marg-top-96 {
    margin-top: 96px;
}

.marg-top-110{
    margin-top: 110px;
}

.marg-top-100 {
    margin-top: 100px;
}

.marg-bot-5 {
    margin-bottom: 5px;
}

.marg-bot-10 {
    margin-bottom: 10px;
}

.marg-bot-15 {
    margin-bottom: 15px;
}

.marg-bot-20 {
    margin-bottom: 20px;
}

.marg-bot-25 {
    margin-bottom: 25px;
}

.marg-bot-30 {
    margin-bottom: 30px;
}

.marg-bot-35 {
    margin-bottom: 35px;
}

.marg-bot-40 {
    margin-bottom: 40px;
}

.marg-bot-45 {
    margin-bottom: 45px;
}

.marg-bot-50 {
    margin-bottom: 50px;
}

.marg-bot-55 {
    margin-bottom: 55px;
}

.marg-bot-60 {
    margin-bottom: 60px;
}

.marg-bot-65 {
    margin-bottom: 65px;
}

.marg-bot-70 {
    margin-bottom: 70px;
}

.marg-bot-100 {
    margin-bottom: 100px;
}

.marg-left-5 {
    margin-left: 5px !important;
}

.marg-left-10 {
    margin-left: 10px !important;
}

.marg-left-15 {
    margin-left: 15px;
}

.marg-left-20 {
    margin-left: 20px;
}

.marg-left-25 {
    margin-left: 25px;
}

.marg-left-30 {
    margin-left: 30px;
}

.marg-left-35 {
    margin-left: 35px;
}

.marg-left-40 {
    margin-left: 40px;
}

.marg-left-45 {
    margin-left: 45px;
}

.marg-left-50 {
    margin-left: 50px;
}

.marg-left-55 {
    margin-left: 55px;
}

.marg-left-60 {
    margin-left: 60px;
}

.marg-left-65 {
    margin-left: 65px;
}

.marg-left-70 {
    margin-left: 70px;
}

.marg-right-5 {
    margin-right: 5px;
}

.marg-right-10 {
    margin-right: 10px;
}

.marg-right-14 {
    margin-right: 14px;
}

.marg-right-15 {
    margin-right: 15px;
}

.marg-right-20 {
    margin-right: 20px;
}

.marg-right-25 {
    margin-right: 25px;
}

.marg-right-30 {
    margin-right: 30px;
}

.marg-right-35 {
    margin-right: 35px;
}

.marg-right-40 {
    margin-right: 40px;
}

.marg-right-45 {
    margin-right: 45px;
}

.marg-right-50 {
    margin-right: 50px;
}

.marg-right-55 {
    margin-right: 55px;
}

.marg-right-60 {
    margin-right: 60px;
}

.marg-right-65 {
    margin-right: 65px;
}

.marg-right-70 {
    margin-right: 70px;
}

.marg-right-123 {
    margin-right: 123px;
}

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */
html {
    height: 100%;
    font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

a {
    outline: none;
}

body {
    height: 100%;
    position: relative;
    font-size: 100%;
    font-family: 'Roboto';
}

.line {
    background: #C3D0D8;
    height: 1px;
    width: 100%;
}

.wrapper {
    min-width: 768px;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.max-width1170 {
    max-width: 1170px;
    margin: 0 auto;
}

::-webkit-input-placeholder {
    font: "Roboto" !important;
    font-style: italic !important;
    font-weight: 300 !important;
}
::-moz-placeholder          {
    font: "Roboto" !important;
    font-style: italic !important;
    font-weight: 300 !important;
}
:-moz-placeholder           {
    font: "Roboto" !important;
    font-style: italic !important;
    font-weight: 300 !important;
}
:-ms-input-placeholder      {
    font: "Roboto" !important;
    font-style: italic !important;
    font-weight: 300 !important;
}

/* Header
-----------------------------------------------------------------------------*/
header.header {
    height: 76px;
    border-bottom: 0 solid #ccc;
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header.header:after {
    content: '';
    display: block;
    height: 15px;
    width: 100%;
    position: absolute;
    top: 100%;
    background: url(../../img/headbg.png) no-repeat center top;
    z-index: 10;
}

.topmenu {
    margin: 0 auto;
    border: 0px solid red;
    padding: 0 8px;
}

input[type="text"] {
    background: #ccc;
    padding: 0px 10px 0px 10px;
}

.logo {
    width: 214px;
    float: left;
    padding: 10px 0;
    margin: 0 3.5% 0 .5%;
}

.logo img {
    float: left;
}

.shtorka {
    /*width:35%;*/
    display: inline-block;
    outline: 0px solid red;
    padding: 8px 0 0px;
    color: #3194c3;
}

.shtorka li {
    float: left;
    width: auto;
    border-left: 1px solid #e2e2e2;
}

.shtorka li:first-child a {
    text-indent: -9999px;
    background: url("../../img/listbtn.png") no-repeat scroll 50% 50% transparent;
    margin: 0px 22px 0px -15px;
    width: 30px;
    height: 26px;
    padding: 29px;
    display: block;
}

.shtorka li:first-child {
    border-left: none;
}

.shtorka ul li a {
    display: block;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    padding: 9% 15%;
    text-transform: uppercase;
}

.shtorka ul li a span {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-transform: none;
}

.topcontact {
    padding: 10px 0;
    width: 35%;
    float: right;
    outline: 0px solid red;
}

.rezhum {
    float: left;
    color: #878787;
}

.rezhum p {
    text-align: center;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    letter-spacing: -2px;
    font-size: 37px;
}

.rezhum span {
    display: block;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #74b630;
    float: right;
}

.tel span {
    display: block;
    font-size: 13px;
    font-family: 'Roboto';
    font-style: normal;
}

i.sub {
    vertical-align: top;
    color: #878787;
    font-size: 12pt;
}

.submenu {
    width: 100% !important;
    margin: 0 auto;
    display: none;
    padding: 25px 20px;
    border: 0px solid red;
    background: #fff;
    position: fixed;
    top: 76px;
    z-index: 101;
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#000000);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=100, color=#000000, strength=2);
}

.submenu:before {
    content: "";
    display: block;
    height: 15px;
    width: 100%;
    position: absolute;
    top: 0%;
    background: url("../../img/headbg.png") no-repeat scroll center top transparent;
    z-index: 10;
}

/* center
-----------------------------------------------------------------------------*/
.content {
    padding: 0 0 100px;
}

.breadcrumbs {
    width: 100%;
    margin: 20px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
}

.breadcrumbs li {
    display: inline-block;
}

.slider {
    width: 100%;
    /*height: 488px;*/
    overflow: hidden;
    border: 0px solid;
    position: relative;
}

.textslider {
    width: 100%;
    position: relative;
    height: 480px;
    top: 0px;
    left: 20px;
    line-height: 1.3;
}

.textslider .anons {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #74b630;
    font-size: 16px;
    color: #494949;
    padding: 10px 0px;
}

.textslider img {
    float: left;
    margin: 0px 10px 0;
}

.textslider h2 {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #74b630;
    font-size: 36px;
    margin: 0 0 20px 0;
}

.slide-bg1 {
    background: url('../../img/slider/01.png') 0px 0px no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.slide-bg2{
    background: url('../../img/slider/02.png') 0px 0px no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.slide-bg3{
    background: url('../../img/slider/03.png') 0px 0px no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.slide-bg4{
    background: url('../../img/slider/04.png') 0px 0px no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.slide-bg5{
    background: url('../../img/slider/05.png') 0px 0px no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.slide-bg6{
    background: url('../../img/slider/06.png') 0px 0px no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.slide-bg7{
    background: url('../../img/slider/07.png') 0px 0px no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.slide-bg8{
    background: url('../../img/slider/08.png') 0px 0px no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
/*.uslugi, .uslugi2 {*/
/*width: 100%;*/
/*height: 250px;*/
/*margin-top: 20px;*/
/*position: relative;*/
/*}*/

/*.uslugi h2 {*/
/*font-family: 'Roboto';*/
/*font-style: normal;*/
/*font-weight: 300;*/
/*font-size: 36px;*/
/*color: #3194c3;*/
/*margin: 0 15px 15px;*/
/*}*/
.bigblock:hover {
    background: #8FC5DA;
}

.bigblock:hover .bottom {
    background: #72B5CF;
}

.bottom {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.bigblock {
    background: #6aaec8;
    color: #ccc;
    width: 100%;
    height: 167px;
    position: relative;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.bigblock img {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 56px;
}

.bigblock span {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    text-transform: none;
}

.bigblock .top img {
    float: left;
}

.bigblock .top {
    width: 100%;
    padding: 10px 8px;
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
    line-height: 24px;
}

.bigblock .bottom {
    width: 100%;
    padding: 10px 8px;
    background: #5ca4bf;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
    text-align: right;
    position: absolute;
    bottom: 0;
}

.smallblock {
    width: 100%;
    height: 75px;
    background: #6aaec8;
    color: #ccc;
    margin: 0px 0px 15px;
}

.smallblock .top img {
    float: left;
}

.smallblock .top {
    width: 100%;
    padding: 15px 8px;
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    position: relative;
    font-size: 24px;
    color: #ffffff;
}

/*.uslugi2 .smallblock .top {*/
/*width: 100%;*/
/*padding: 4px 20px 0 20px;*/
/*text-align: right;*/
/*font-family: 'Roboto';*/
/*font-style: normal;*/
/*font-weight: 300;*/
/*font-size: 24px;*/
/*color: #ffffff;*/
/*}*/

.smallblock span {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}

.priceservice {
    position: absolute;
    right: 106px;
    bottom: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

a .servicelnk {
    border-bottom: 1px dotted #000;
}

.show-service:after {
    content: 'Показать все услуги';
}

.drop-down.active .show-service:after {
    content: 'Скрыть все услуги';
}

.caret {
    position: absolute;
    top: 0;
    right: -10px;
}

.drop-down.active .caret {
    border-bottom: 4px solid;
    border-top: none;
}

.blockabout {
    width: 100%;
    height: 500px;
    background: url(../../img/blockabout.png) #cff1fd center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #6a8292;
    line-height: 1.3;
}

.blockabout h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #6a8292;
    margin: 35px 0px 20px;
}

.tv {
    margin: 45px 0;
}

.tv iframe {
    width: 100%;
}

.benefits {
    width: 100%;
    margin: 0 auto;
}

.benefits h3 {
    margin: 0 15px 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
}

.blockbenefits {
    width: 100%;
    margin: 0 auto 18px;
}

.blockbenefits li {
    float: left;
    height: 130px;
    text-align: center;
    width: 20%;
}

.blockbenefits ul li span {
    display: block;
}

.blockbenefits li img {
    padding: 0 0 8px 0;
}

.blockotzuv {
    width: 100%;
    margin-top: -5px;
    overflow: hidden;
}

.x {
    position: relative;
    background: #EAE3D6;
    margin-top: 20px;
    padding: 20px 0;
}

.x:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    background: url(../../img/blockbestdent.png) top repeat-x;
    height: 10px;
}

.x:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background: url(../../img/blockbestdent.png) bottom repeat-x;
    height: 10px;
}

#sticker {
    z-index: 2;
    position: absolute;
    overflow: hidden;
    border: 0px solid red;
    margin-top: -10px;
    text-align: center;
    background: url("../../img/sidebarbg.png") no-repeat;
    background-size: 100%;
    padding: 25px;
    width: 385px;
}

#sticker:after {
    content: '';
    background: #fff;
    width: 365px;
    position: absolute;
    left: 10px;
    top: 9px;
    height: 610px;
    z-index: -1;
}

#sticker figure {
    /*margin: 0 15px;*/
}

#sticker img {
    margin: 0px !important;
}

.bestdant {
    width: 100%;
    height: auto;
    position: relative;
}

.bestdant img {
    float: left;
    margin: 10px 10px 0 0;
}

.bestratio {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    margin: 10px 10px 0 0;
}

.iconbest {
    position: absolute;
    bottom: 26px;
    left: 105px;

    width: 61px;
    height: 60px;
}
.iconbest #price_badge_copy g:first-child path{
    fill: red;
}

.bestdant h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #564e3e;
}



.stars {
    width: 66%;
    height: 18px;
    float: right;
    padding: 0 0 0 108px;
    background: url(../../img/stars.png) no-repeat;
}

.textforbest span {
    display: block;
    font-size: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    margin: 8px 0;
}

.bestname {
    float: left;
}

.blocknamestar {
    width: 100%;
    display: inline-block;
}

.namestars {
    width: 97px;
    height: 18px;
    float: right;
    background: url(../../img/stars.png) no-repeat;
}

.besttext {
    font-size: 16px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    color: #494949;
    position: relative;
    text-indent: 30px;
    margin: 25px 0;
    text-align: justify;
}

.qu1 {
    width: 26px;
    height: 19px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.qu2 {
    width: 26px;
    height: 19px;
    position: absolute;
    bottom: 0;
}

.qu3 {
    width: 26px;
    height: 19px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.qu4 {
    width: 26px;
    height: 19px;
    position: absolute;
    bottom: 4px;
}
.qu1 svg, .qu2 svg{
    fill: #B8AE9C;
}
.qu3 svg, .qu4 svg{
    fill: #C4C4C4;
}
.otzuvdant {
    width: 100%;
    overflow: hidden;
}

.otzuvtitle {
    width: 100%;
    overflow: hidden;
}

.otzuvtitle h2 {
    float: left;
    font-size: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #2b802b;
}

.bestotzuv {
    font-size: 16px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    color: #494949;
    position: relative;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.3;
}


.reviewtitle {
    float: right;
    margin-top: 11px;
}

.reviewtitle a {
    /*padding: 0 10px;*/
    font-size: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

.reviewtitle a.btn {
    color: #fff;
}

.reviewtitle a {
    color: #3194c3;
}

.vote, .onenew, .payblock {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
}

.vote h2 {
    font-size: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #2b802b;
}

.vote span {
    display: block;
    font-size: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #494949;
    margin: 30px 0;
}

.vote li {
    display: block;
    padding: 10px 0;
    height: 20px;
    font-size: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #494949;
}

label {
    height: 20px;
}

.listline {
    margin-bottom: 0px !important;
}

.r_button {
    display: none;
}

.r_button + label {
    background: url(../../img/radiotype.png) no-repeat scroll 0 0;
    cursor: pointer;
    padding-left: 30px;
}

.payblock h3 {
    color: #2b802b;
}

.textnewblock {
    overflow: hidden;
    border: 0px solid red;
    margin: 0 30px;
}

.action {
    width: 100%;
    overflow: hidden;
    border: 0px solid;
    margin: 15px 0;
}

.padleft {
    padding-left: 0;
}

.action figure {
    display: block;
    position: relative;
}

.action figure figcaption {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 24px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    text-transform: uppercase;
    color: #0793c6;
}

.action figure figcaption.clear {
    background: transparent;
}

.action img {
    width: 100%;
    display: block;
    height: auto;
    margin-top: 5px;
}

.mainblock {
    width: 100%;
    overflow: hidden;
    margin: 0 0 65px 0;
}

.actioinview, .newview, .uslugiview {
    width: 100%;
    border: 0px solid;
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #494949;
    line-height: 24px;
    margin: 0 0 50px;
}

.actioinview h3.view_maintitle {
    font-size: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #2b802b;
    margin: 0 0 27px;
}

.actioinview h3 {
    font-size: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #494949;
    margin: 15px 0 15px 0;
    /*position:absolute;*/
}

.actioinview h3 span {
    font-style: normal;
    font-weight: 400;
}

.actioinview h3 img {
    width: 14px;
    height: 20px;
    float: right;
}

.actioinview img {
    width: 360px;
    float: left;
    margin: 5px 32px 15px 0;
    height: 140px;
}

.uslugiview h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #2b802b;
    margin: 20px 0;
}

.uslugititle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #2b802b;
    margin: 45px 0px 15px 0;
}

.listprice {
    padding: 8px 0px 5px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
}

.nameusluga {
    float: left;
    margin: 0 10px;
}

.priceusluga {
    float: right;
}

.priceusluga img.yelicon {
    width: 35px;
    height: 28px;
    float: left;
}

.newimg {
    position: relative;
}

.newimg img {
    float: left;
    margin: 0 10px 0 0;
}

.newview h3.view_maintitle {
    font-size: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #2b802b;
    margin: 3px 0 27px;
}

.newview a {
    text-decoration: underline;
}

.titleimg {
    float: left;
    margin: 5px 32px 15px 0;
    position: relative;
    overflow: hidden;
    line-height: 1;
}

.datetext {
    position: absolute;
    left: 17px;
    width: 49px;
    height: 50px;
    padding-top: 5px;
    background: url(../../img/bgfordate.png) repeat-y;
    text-align: center;
    top: -3px;
    color: #777;
    font-size: 24px;
    font-weight: 400;
}

.datetext span {
    font-weight: 300;
    font-size: 14px;
    display: block;
}

.actioinview h4 {
    font-size: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #2b802b;
    margin: 22px 0 27px;
}

.acttext {
    width: 100%;
    overflow: hidden;
    text-align: justify;
}

.acttext img {
    float: right;
    width: 363px;
    height: 318px;
    margin: 0 30px 0;
}

.linefoto {
    width: 100%;
    margin: 15px 0;
}

.linefoto img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 30px 0;
}

.technol ul {
    list-style: none;
    overflow: hidden;
    padding: 0 0 0 32px;
}

.technol ul li {
    padding: 0 0;
    padding-left: 10px;
    position: relative;
}

.technol ul li:before {
    content: "\b7";
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0px;
}

.textnew {
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #494949;
    line-height: 24px;
    margin: 0px 10px;
    width: 100%;
}

.textnew h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #3798c5;
    margin: 0 0 30px 0;
}

.textnew h3 {
    font-size: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #3798c5;
    margin: 0 0 10px 0;
}

.actioinpayblock {
    width: 100%;
    border: 1px solid red;
}

.onenew h3 {
    font-size: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #2b802b;
    margin: 0 10px 20px;
}

.onenew h4 {
    font-size: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    color: #2b802b;
}

.blocknew {
    width: 100%;
    margin-top: 35px;
    overflow: hidden;
}

.blocknew h4 {
    font-size: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #2b802b;
    margin: -1px 0 34px;
}

.blocktextnew {
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #494949;
    line-height: 24px;
    margin: 0;
}

.datenew {
    position: absolute;
    left: 9px;
    width: 49px;
    height: 50px;
    background: url(../../img/bgfordate.png) repeat-y;
    text-align: center;
    font-weight: bold;
    color: #777;
    font-size: 24px;
    font-weight: 400;
    /*text-transform: uppercase;*/
    top: -3px;
    padding-top: 6px;
}

.datenew span {
    font-weight: 300;
    font-size: 14px;
    display: block;
}

.navepagebottom {
    width: 100%;
    overflow: hidden;
    margin: 0 0 85px 0;
}

.pagenav {
    float: left;
    color: #494949;
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

.pagenav ul li {
    float: left;
    display: block;
    margin: 0 5px;
}

.pagenav ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    background: #3194c3;
}

.pagenav ul li a:hover {
    text-decoration: none;
    background: #9f9f9f;
}

.pagenav ul li a.active {
    color: #9f9f9f;
    background: #dadada;
}

.pagenav ul li a.first, .pagenav ul li a.last {
    background: none;
    color: #dadada;
}

.rightpagenav {
    float: right;
    display: block;
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

.rightpagenav ul li {
    float: left;
    display: block;
    margin: 0 5px;
}

.rightpagenav ul li:last-child {
    background: none;
    color: #dadada;
}

/*==== end newsblock =====*/
.bankname, .paysyst {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.bankname img {
    margin: 0 20px 0 0;
}

.bankpay {
    width: 100%;
    margin: 0 0 32px;
    overflow: hidden;
}

.banktitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #2b802b;
    margin-bottom: 20px;
}

.paytitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #808080;
    margin-right: 20px;
    float: left;
}

ul.paycard li {
    display: inline-block;
}

ul.paycard li a img {
    display: inline-block;
    border: 0px solid #e0e0e0;
}

.map {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 20px 0;
}

.map h2 {
    font-size: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #2b802b;
    margin: 20px 10px;
    position: relative;
    float: left;
}

.metrotitle {
    position: absolute;
    top: 30px;
    right: 140px;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #2b802b;
}

.metroname {
    width: auto;
    position: absolute;
    top: 70px;
    right: 0;
    background: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #3194c3;
}

.metroname li {
    padding: 11px;
    font-size: 16px;
    border-bottom: 1px solid #C3D0D8;
}

.metroname li span {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #494949;
}

.icongreenlight {
    background: url(../../img/metroicon.png) 2px -2px;
    background-repeat: no-repeat;
    padding: 1px 19px;
}

.iconred {
    background: url(../../img/metroicon.png) -53px -2px;
    background-repeat: no-repeat;
    padding: 1px 19px;
}

.icongreen {
    background: url(../../img/metroicon.png) -112px -2px;
    background-repeat: no-repeat;
    padding: 1px 19px;
}

.iconblue {
    background: url(../../img/metroicon.png) -170px -2px;
    background-repeat: no-repeat;
    padding: 1px 19px;
}

/*============ blockactions ================================================*/
.blockactions {
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: -100px auto 0;
    max-width: 1920px;
    height: auto;
    /*background: #BFF08E;*/
    position: relative;
}

.blockappointment {
    width: 100%;
    height: 122px;
    background: url(../../img/bgappoint.png) repeat-x;
    padding: 15px 0;
    border: 0px solid yellow;
}

.botblock {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}

.quest {
    float: left;
    margin: 0 30px;
    color: #f1f8ea;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

.block1 img, .block2 img {
    float: left;
}

.block1 span, .block2 span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.block1 a, .block2 a {
    background-color: #fff;
    border-color: #ccc;
    color: #2b802b;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.botmenu {
    width: 100%;
    overflow: hidden;
    margin: 20px 0 0 0;
}

.botmenu ul {
    float: left;
}

.botmenu ul li {
    display: inline-block;
    margin: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.footerlist {
    width: 100%;
    overflow: hidden;
}

.pat, .compan, .footcontac, .topcontac {
    float: left;
    width: 18%;
}

.footerlist .title, .submenu .title {
    color: #3194c3;
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

.footerlist li, .submenu li {
    margin: 8px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

.copy {
    width: 100%;
    margin: 0 0 20px 0;
}

.copyright {
    float: left;
    color: #3194c3;
    font-size: 14px;
}

.madeby {
    float: right;
    margin-right: 20px;
    color: #3194c3;
    font-size: 14px;
}

.container {
    min-width: 1024px;
}

.shtorka li:first-child a {
    text-indent: 0;
    font-size: 0;
    color: transparent;
}

.shtorka li:first-child a:hover {
    opacity: 0.6;
}



.textslider img {
    margin-right: 20px;
}

.textslider .anons {
    line-height: 1.2;
    padding-right: 20px;
}

.main-slider {
    margin: 0 auto;
    height: 480px;
    overflow-y: hidden;
}

.slider {
    width: 100% !important;
    height: 100% !important;
}

.slider .carousel-inner .row {
    margin-left: -35px;
}

.main-slider h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 40px;
    font-size: 44px;
    line-height: 1.1;
}

.main-slider .container {
    position: relative;
}

.blue-button {
    display: inline-block;
    background: #3194c3 !important;
    padding: 6px 20px;
    color: #fff;
    font-weight: 300;
    border-radius: 20px;
    font-size: 18px;
    border-bottom: 1px solid #777;
    border-top: 1px solid transparent;
}

.blue-button:hover {
    background: #09bde3;
    border-top: 1px solid transparent;
}

.blue-button:active {
    background: #3194c3;
    border-top: 1px solid #777;
    border-bottom: 1px solid transparent;
}

.blue-button:hover {
    color: #fff;
    background: #09bde3 !important;
    text-decoration: none;
}

.main-slider .blue-button {
    position: absolute;
    top: 350px;
    right: 36px;
    z-index: 999;
}

.main-slider img.slider-image {
    margin: 0px -7%;
}

.bigblock .bottom {
    font-size: 44px;
    font-weight: 200;
}

.priceservice {
    position: static;
    z-index: 2;
    min-height: 40px;
    text-align: right;
}

.priceservice a {
    font-size: 16px;
}

.uslugi {
    height: auto;
}

.drop-down {
    display: inline-block;
    position: relative;
    z-index: 3;
}

.drop-down ul {
    display: none;
    list-style: none;
    background: #d2f1b0;
    position: absolute;
    top: 100%;
    left: -50px;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #bbb;
}

.drop-down ul:after, .drop-down ul:before {
    position: absolute;
    z-index: 2;
    content: '';
    border: 10px solid transparent;
    border-bottom: 10px solid #bbb;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
}

.drop-down ul:before {
    border-bottom: 10px solid #fff;
    z-index: 4;
    margin-bottom: -1px;
}

.drop-down ul li {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    background: #e7f5d8;
    color: #7c7e79;
}

.drop-down ul li.drop-title {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    background: #d2f1b0;
}

.drop-down ul li a {
    display: block;
    padding: 7px 10px;
    text-decoration: none;
    text-align: center;
    margin: 0;
    border-bottom: 1px dotted transparent #3194c3;
}

.btn {
    padding: 2px 20px !important;
    border-radius: 20px;
}

a {
    outline: none !important;
}

a img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    padding: 0;
}

h2 {
    letter-spacing: -1px;
}

.blockabout {
    height: auto;
}

.blockotzuv {
    display: block;
    position: relative;
    top: -10px !important;
}


.textforbest span {
    font-size: 16px;
}

.dotted, .dotted:focus {
    border-bottom: 1px dotted transparent;
    text-decoration: none;
}

.dotted:hover {
    border-bottom: 1px dotted #3194c3;
    text-decoration: none;
}

.dashed, .dashed:focus {
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

.dashed:hover {
    text-decoration: none;
    border-bottom: 1px solid #a5d3e8;
}

.font-16 {
    font-size: 16px !important;
}

.no-pad {
    padding: 0 !important;
}

.marg-right-10 {
    margin-right: 10px;
}

.r_button:checked + label {
    background: url("../../img/radiotype-checked.png") no-repeat scroll 0px 0px transparent;
}

.footerlist .title, .submenu .title {
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
}

.footcontac {
    width: 40%;
}

.footcontac ul li {
    margin: 0;
    padding: 5px 0;
}

.vk {
    float: right;
    font-weight: bold;
    color: #75858c;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    margin: 11px 50px 0;
}

.vk img {
    vertical-align: middle;
    margin-left: 3px;
    margin-top: 2px;
}

.v-middle {
    vertical-align: middle;
}

.copyright {
    padding-top: 10px;
}

.madeby img {
    margin-left: 10px;
    margin-top: -4px;
}

.topcontact {
    width: 38%;
}

.tel a {
    margin: 0 8px;
}

.shtorka ul li a {
    padding: 9% 12px;
}

.precent-badge {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: -4px;
    margin-left: -4px;
}

.relative {
    position: relative !important;
}

.precent-badge span {
    background: #ffd71b;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    width: 70px;
    height: 24px;
    line-height: 24px;
    margin-top: 4px;
    text-align: center;
    color: #888;
    font-size: 18px;
    margin-left: -18px;
    font-weight: bold;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.blockabout {
    color: #494949;
}

.bestdant img {
    float: none;
    width: 100%;
    display: block;
    height: auto;
    margin: 0;
}

.iconbest {
    bottom: 0px;
    right: 0 !important;
    margin-left: -10px;
}

.besttext {
    padding-left: 30px;
    text-indent: 0;
}

.besttext .qu1 {
    display: inline-block;
    margin-left: 0px;
    margin-left: -30px;
}

.thin {
    font-weight: 100;
}

.stars-rating img {
    width: 18px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.stars-rating small {
    margin-left: 10px;
}

.textforbest h3 {
    letter-spacing: -1px;
}

.vote hr {
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.vote label {
    font-size: 18px;
    font-weight: 300;
}

.btn-primary {
    background: #3194c3;
    padding-left: 50px !important;
    padding-right: 50px !important;
    border: none;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border-bottom: 1px solid #777;
    border-top: 1px solid transparent;
}

.btn-primary:hover {
    background: #09bde3;
    border-top: 1px solid transparent;
}

.btn-primary:active {
    background: #3194c3;
    border-top: 1px solid #777;
    border-bottom: 1px solid transparent;
}

.btn-primary.large {
    padding-left: 70px !important;
    padding-right: 70px !important;
}

.paytitle {
    padding-top: 10px;
}

.block1 {
    margin: 0 0 0 25px;
}

.block1 a {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}

.block1 img, .block1 .quest {
    padding-top: 12px;
}

.block2 {
    float: right;
    margin: 0 30px 0 0;
}

.block2 > * {
    display: inline-block;
    vertical-align: middle;
}

.block2 img, .block2 .quest {
    padding-top: 12px;
}

.block2 a {
    /*text-align: left;*/
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}

.footerlist ul {
    margin-left: 10px;
}

.footerlist ul li a {
    font-size: 14px;
}

.madeby {
    color: #444;
}

#sticker {
    display: block;
}

#sticker figure {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    margin-top: 10px !important;
}

#sticker figure img {
    margin-top: 0;
}

#sticker figure:hover figcaption {
    top: 0;
}

#sticker figure figcaption {
    display: block;
    position: absolute;
    width: 100%;
    top: -100px;
    left: 0px;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    height: 50px;
    padding-top: 12px;
    font-size: 20px;
    text-transform: uppercase;
    color: #0793c6;
}

#sticker figure figcaption.clear {
    background: transparent;
}

.figure-actions figure {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0;

}

.figure-actions figure img {
    margin-top: 0;
}

.figure-actions figure:hover figcaption {
    top: 0;
}

.figure-actions figure figcaption {
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: -100px;
    left: 0px;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5) !important;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    text-transform: uppercase;
    color: #0793c6;
}

.figure-actions figure figcaption.clear {
    background: transparent;
}

.carousel-indicators li {
    background: transparent;
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #3194c3;
    margin: 0 10px;
}

.carousel-indicators li.active {
    margin: 0 10px;
    border: 2px solid #3194c3;
    background: transparent;
}

span.page-item {
    position: absolute;
    display: block;
    background: #3194c3;
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #3194c3;
    margin: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    left: 50%;
    bottom: 22px;
    border-radius: 50%;
    z-index: 100;
}

.carousel-control {
    z-index: 9;
    height: 100px;
    top: 40%;
}

.tel .sub {
    display: inline-block;
    margin-top: 6px;
}

/*.uslugi {*/
/*margin-top: 10px;*/
/*}*/

/*.uslugi h2 {*/
/*margin-top: 10px;*/
/*margin-bottom: 20px;*/
/*}*/

.uslugi2 {
    height: auto;
}

.benefits h3 {
    margin-left: 0;
}

.eviewtitle {
    float: none;
}

/*плавающий блок*/
div[data-fixedblock-anchor=""] {
    position: static;
}

#sticker.fixed-top {
    z-index: 2;
    position: fixed !important;
    top: 100px;
}

#sticker.abs-bot {
    position: absolute;
    bottom: -1078px !important;
}

.marg-left0 {
    margin-left: 0 !important;
}

.green-link > * {
    display: inline;
    border-bottom: 1px solid transparent;
}

.green-link:hover {
    text-decoration: none;
}

.green-link:hover > * {
    color: #2b802b;
    display: inline;
    border-bottom: 1px solid #2b802b;
}

.block1 a, .block2 a {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    text-decoration: none;
}

.block1 a:hover, .block2 a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid transparent;
    text-decoration: none;
}

.block1 a:active, .block2 a:active {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.btn {
    -webkit-transition: .2s !important;
    transition: .2s !important;
}

.shtorka li {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    margin-right: -1px;
}

.shtorka li:nth-of-type(2):hover, .shtorka li:nth-of-type(3):hover, .shtorka li:nth-of-type(4):hover {
    padding-top: 10px;
    text-decoration: none;
    background: #f2f2f2;
    margin-top: -10px;
    z-index: 2;
    height: 78px;
}

.shtorka li:nth-of-type(2):hover a, .shtorka li:nth-of-type(3):hover a, .shtorka li:nth-of-type(4):hover a {
    text-decoration: none;
}

.botmenu > ul > li {
    margin-left: 0;
    margin-right: 20px;
}

.abs {
    position: absolute;
}

.marg-left--2 {
    margin-left: -2px;
}

.marg-left--8 {
    margin-left: -8px;
}

.marg-left--9 {
    margin-left: -9px;
}

.marg-left--10 {
    margin-left: -10px;
}

.marg-left--12 {
    margin-left: -12px;
}

.marg-left--20 {
    margin-left: -20px;
}

/*RUB*/
span.rub {
    font-family: 'PT Sans', sans-serif;
}

.btn-arrow-left, .btn-arrow-right {
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transition: .1s;
    transition: .1s;
}

.btn-arrow-left {
    background: url(../../img/arr-left.png) no-repeat center center;
}

.btn-arrow-left:hover {
    background: url(../../img/arr-left-hover.png) no-repeat center center;
}

.btn-arrow-left:active {
    background: url(../../img/arr-left-active.png) no-repeat center center;
}

.btn-arrow-right {
    background: url(../../img/arr-right.png) no-repeat center center;
}

.btn-arrow-right:hover {
    background: url(../../img/arr-right-hover.png) no-repeat center center;
}

.btn-arrow-right:active {
    background: url(../../img/arr-right-active.png) no-repeat center center;
}

a:focus {
    text-decoration: none !important;
}

.relative {
    position: relative;
}

.hover-dotted {
    border-bottom: 1px dotted transparent;
}

.hover-dotted:hover {
    border-bottom: 1px dotted #a5d3e8;
    text-decoration: none;
}

.hover-solid {
    border-bottom: 1px solid transparent;
}

.hover-solid:hover {
    border-bottom: 1px solid #a5d3e8;
    text-decoration: none;
}

#getLoginForm {
    z-index: 30;
}

#getLoginForm > div {
    position: absolute;
}

#getLoginForm + span {
    display: inline-block;
    color: #999;
}

.dark {
    color: #666666;
}

.login-form, .success-form {
    display: none;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    width: 260px;
    background: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    z-index: -1;
}

.login-form:before, .success-form:before {
    content: '';
    display: block;
    border: 10px solid transparent;
    border-bottom: 10px solid #e6e6e6;
    position: absolute;
    bottom: 100%;
    left: 46%;
}

.login-form form, .login-form label, .success-form form, .success-form label {
    display: block;
    width: 100%;
    height: auto;
}

.login-form form input, .login-form label input, .success-form form input, .success-form label input {
    outline: none;
    background: url(../../img/input.png) repeat-x top left #fff;
    border: none;
    border-top: 1px solid #aaa;
    height: 40px;
    line-height: 40px;
    color: #888;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.success-form {
    padding: 0;
    display: none;
    background: #e7f5d8;
}

.success-form h4 {
    background: #d2f1b0;
    border-radius: 5px;
}

.success-form:before {
    border-bottom: 10px solid #d2f1b0;
}

.main-slider .carousel-control {
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
}

.main-slider:hover .carousel-control {
    opacity: .5;
}

a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

img.teeth {
    width: 40px;
}

img.teeth.big {
    width: 70px;
}

.map > div {
    padding: 0;
}

.map h2 {
    float: none;
}

.map .metroname {
    position: static;
}

.map .metroname ul li {
    position: relative;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}

.map .metroname ul li:hover {
    background: #f8f8f8;
}

.map .metroname ul li:hover:after {
    border-right: 30px solid #f8f8f8;
}

.map .metroname ul li i {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-bottom: -2px;
}

.map .metroname ul li span {
    margin-top: 2px;
    margin-left: 4px;
}

.map .metroname ul li:after {
    content: '';
    border: 33px solid transparent;
    border-right: 30px solid #fff;
    position: absolute;
    right: 100%;
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.map .metroname ul li.active:after {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/*===============================================================================================================*/
/*===============================================================================================================*/
/*===============================================================================================================*/
.teeth.big {
    width: 70px;
    height: 70px;
}

.bigblock .top div {
    float: left;
}

.teeth7 {
    background: url("../../img/teeth7.svg") no-repeat center;
    width: 100%;
    height: 92%;
    margin-top: 4%;
}

.smallblock .teeth7 {
    width: 145%;
    height: 100%;
    margin-top: 4%;
}

.teeth8 {
    background: url("../../img/teeth8.svg") no-repeat center;
    width: 100%;
    height: 100%;
}

.smallblock .teeth8 {
    width: 164%;
    height: 110%;
    margin-top: -3%;
}

.teeth9 {
    background: url("../../img/teeth9.svg") no-repeat center;
    width: 100%;
    height: 84%;
    margin-top: 8%;
}

.smallblock .top .teeth {
    position: absolute;
    height: 60px;
    width: 40px;
    top: 8px;
    left: 12px;
}

.teeth10 {
    background: url("../../img/teeth10.svg") no-repeat center;
    width: 100%;
    height: 84%;
    margin-top: 8%;
}

.teeth11 {
    background: url("../../img/teeth11.svg") no-repeat center;
    width: 100%;
    height: 84%;
    margin-top: 8%;
}

.teeth1 {
    background: url("../../img/teeth1.svg") no-repeat center;
    width: 165%;
    height: 100%;
    margin-top: -4%;
}

.teeth2 {
    background: url("../../img/teeth2.svg") no-repeat center;
    width: 91%;
    height: 100%;
    margin-top: 0%;
}

.teeth3 {
    background: url("../../img/teeth3.svg") no-repeat center;
    width: 153%;
    height: 105%;
    margin-top: -8%;
}

.teeth4 {
    background: url("../../img/teeth4.svg") no-repeat center;
    width: 136%;
    height: 100%;
    margin-top: 0%;
}

.teeth5 {
    background: url("../../img/teeth5.svg") no-repeat center;
    width: 150%;
    height: 100%;
    margin-top: -3%;
}

.teeth6 {
    background: url("../../img/teeth6.svg") no-repeat center;
    width: 197%;
    height: 133%;
    margin-top: -35%;
}

/*==================================================================================================================*/
.ov-h {
    overflow: hidden;
}

.fl-right {
    float: right;
}

.dn {
    display: none;
}

.title-color {
    color: #2b802b;
}

.subtitle-color {
    color: #999999;
}

.li-title {
    color: #494949;
}

.link-color {
    color: #3194c3 !important;
}

.form-title-color {
    color: #8a7959;
}

.mail-color {
    color: #256f92;
}

.h4-color {
    color: #bfbfbf;
}

.like-color {
    color: #909090;
}

.cabinet-main-color {
    color: #ffe357 !important;
}

a.cabinet-main-color:hover, a.cabinet-main-color:focus {
    color: #ffe357;
    border-bottom: 1px dotted #ffe357;
}

.rec-doc-title {
    color: #ffdd00;
}

.rec-li-color {
    color: #186c93;
}

.rec-title {
    color: #9dcbe0;
}

.cabinet-main-color2 {
    color: #adcee2;
}

.alert-color {
    color: #1b7098;
}

.ticket-color {
    color: #b8e9ff;
}

.teeth-color {
    color: #b0cedd;
}

.teeth-color-title {
    color: #d6e8f1;
}

.week-doc {
    color: #564e3e;
    border-bottom: 1px solid transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.week-doc:hover {
    color: #3194c3 !important;
    border-bottom: 1px solid #3194c3;
    text-decoration: none;
}

.w100 {
    width: 100% !important;
}

.w93 {
    width: 93%;
}

.h100 {
    height: 100%;
}

.w48p {
    width: 48%;
}

.line-h-18 {
    line-height: 18px;
}

.line-h-22 {
    line-height: 22px;
}

.line-h-28 {
    line-height: 28px;
}

.line-h-32 {
    line-height: 32px;
}

.latter-s-2 {
    letter-spacing: -2px;
}

.latter-s-0 {
    letter-spacing: 0;
}

.underline-none:hover, .underline-none {
    text-decoration: none !important;
    border-bottom: none !important;
}

/*==================================================================================================================*/
.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-17 {
    margin-bottom: 17px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb--2 {
    margin-bottom: -2px;
}

.mt--6 {
    margin-top: -6px;
}

textarea {
    resize: none;
}

/*==================================================================================================================*/
.mt-2 {
    margin-top: 2px;
}

.mt-9 {
    margin-top: 9px;
}

.mt-14 {
    margin-top: 14px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-57 {
    margin-top: 57px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-25 {
    margin-right: 25px;
}

.ml-4p {
    margin-left: 2%;
}

.mr-10 {
    margin-right: 10px;
}

.mt-7 {
    margin-top: 7px;
}

.ml--13px {
    margin-left: -13px;
}

/*==================================================================================================================*/
.f-light-i {
    font: "Roboto" !important;
    font-style: italic !important;
    font-weight: 300 !important;
}

.f-light {
    font: "Roboto" !important;
    font-weight: 300 !important;
}

.f-regular {
    font: "Roboto" !important;
    font-weight: 400 !important;
}

.f-thin {
    font: "Roboto" !important;
    font-weight: 100 !important;
}

.display-n {
    display: none;
}

.display-b {
    display: block;
}

.no-border {
    border: none !important;
}

.no-border:hover {
    border: none !important;
}

/*==================================================================================================================*/
.f-72 {
    font-size: 72px;
}

.f-36 {
    font-size: 36px;
}

.f-24 {
    font-size: 24px;
}

.f-18 {
    font-size: 18px;
}

.f-16 {
    font-size: 16px;
}

.f-14 {
    font-size: 14px;
}

/*==================================================================================================================*/
.free-consult-block {
    width: 100%;
    height: 62px;
    background: url("../../img/free-consult-block1.jpg") no-repeat;
    text-align: center;
    line-height: 62px;
    font-size: 21px;;
}

.price-consult {
    width: 100%;
    height: 60px;
    background: url("../../img/free-consult-block1.jpg") no-repeat;
    text-align: center;
    line-height: 62px;
    font-size: 21px;
}

.active-service {
    background-color: #fffcec;
}

.actions-box ul {
    overflow: hidden;
}

.actions-box ul li {
    float: left;
    width: 33%;
    text-align: center;
}

.google-link, .twitter-link, .vk-link, .face-link {
    background: url("../../img/soc/1.png") no-repeat;
    width: 30px;
    height: 30px;
}

.twitter-link {
    background: url("../../img/soc/4.png") no-repeat;
}

.vk-link {
    background: url("../../img/soc/2.png") no-repeat;
}

.face-link {
    background: url("../../img/soc/3.png") no-repeat;
}

.prev-next-hover:hover {
    color: #3194C3 !important;
}

.letter-s--2 {
    letter-spacing: -2.5px;
}

.abs-l--25 {
    position: absolute;
    top: 0;
    left: -25px;
}

.abs-r--25 {
    position: absolute;
    top: 0;
    right: -25px;
}

.abs-r-100 {
    position: absolute;
    right: 100px;
    width: 200px;
    top: -4px;
}

.vote-result ul li {
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    position: relative;
    letter-spacing: -1px;
}

.vote-result ul li:nth-child(1):after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 77%;
    height: 100%;
    background: url("../../img/vote-bg.jpg");
}

.vote-result ul li:nth-child(2):after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 8%;
    height: 100%;
    background: url("../../img/vote-bg.jpg");
}

.vote-result ul li:nth-child(3):after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background: url("../../img/vote-bg.jpg");
}

#load:before,
#load:after,
#load {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

#load {
    font-size: 10px;
    position: absolute;
    left: 46%;
    top: 46%;
    text-indent: -9999em;
}

#load:before {
    left: -3.5em;
}

#load:after {
    left: 3.5em;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
}

#load:before,
#load:after {
    content: '';
    position: absolute;
    top: 0;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #ffffff;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #FFF;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #ffffff;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #FFF;
    }
}

.unstyled-accordion {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

.hide-box {
    overflow: hidden;
    width: 100%;
    height: 0;
    background: #769FB2;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

input[type="text"]:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

#donutchart {
    background: none;
}

/*===================================================================================================================*/
/*===================================================================================================================*/
.tooltip {
    display: none;
    position: absolute;
    background-color: #888888;
    border-radius: 3px;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font: "Roboto";
    text-align: center;
    width: 206px;
    line-height: 22px;
    z-index: 9;
}

.tooltip:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -5px;
    width: 10px;
    height: 10px;
    background: #888888;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

.display-inline {
    display: inline;
}

.display-inline-b {
    display: inline-block;
}

input.validate-error {
    background-color: #F2E0E0 !important;
    outline: 1px solid #ba8380;
}

.error-message {
    position: relative;
}

.error-message:after {
    content: "Обязательно для заполнения";
    position: absolute;
    top: -34px;
    left: 50%;
    padding: 5px 15px;
    background-color: #494949;
    color: white;
    min-width: 187px;
    margin-left: -85px;
    font-size: 11px;
    border-radius: 3px;
    z-index: 3;
}

.error-message:before {
    content: '';
    display: block;
    position: absolute;
    top: -18px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #494949;
    border-width: 0 0 1px 1px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 5px;
}

.teeth-img-box {
    width: 100%;
    height: 76px;
    display: block;
    padding: 10px;
    color: #ffffff;
    position: relative;
    background: #6AADC8;
    line-height: 24px;
}

.teeth-img-box:hover {
    background: #8FC5DA;
}

.teeth-img-box img {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 56px;
}

.teeth-DESNA {
    width: 74px !important;
    margin: -16px 0 0 -16px;
}

.teeth-PULPIT {
    width: 68px !important;
    margin: -15px 0 0 1px;
}

.teeth-UDALENIE {
    width: 71px !important;
    margin: -12px 0 0 1px;
}

.teeth-RESTAVRACIYA {
    width: 64px !important;
    margin: -8px 0 0 -18px;
}

.sell-box {
    background: url("../../img/service/sell.png") no-repeat;
    width: 48px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: -4px;
}

.teeth-img-box:hover, .teeth-img-box:focus {
    color: white !important;
}

.carousel-indicators {
    left: 25%;
    margin-left: -6%;
    z-index: 8;
}

.submit-btn {
    min-width: 204px;
    padding: 3px 20px;
    border-radius: 20px;
    background: #3194c3;
    color: white !important;
    line-height: 32px;
    text-align: center;
    border: none;
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    display: inline-block;
    font-size: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

.textslider .submit-btn {
    min-width: 204px;
    padding: 3px 20px;
    border-radius: 20px;
    background: #3194c3;
    color: white !important;
    line-height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-top: 1px solid transparent !important;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    display: inline-block;
    font-size: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    position: absolute;
    right: 19%;
    bottom: 20px;
}

.submit-btn:hover {
    text-decoration: none;
    background: #09BDE3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.submit-btn:active{
    text-decoration: none;
    background: #3194c3;
    border: none;
    border-bottom: 1px solid transparent !important;
    border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

textarea:focus, input:focus {
    outline: 1px solid #b2b2b2 !important;
    outline-offset: -1px;
    /*border: 1px solid #b2b2b2 !important;*/
}

.prilip {
    position: fixed;
    z-index: 5;
    width: 262px;
}

.stop {
    position: absolute;
    width: 262px;
}

.svg-arr-r {
    float: right;
    margin-left: 6px;
    margin-top: -3px;
}

.svg-arr-r svg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 23px;
    fill: white;
}

.svg-arr-left, .svg-arr-right {
    position: absolute;
    left: -30px;
    top: -4px;
}

.svg-arr-right {
    right: -30px;
    left: inherit;
}

.svg-arr-left svg, .svg-arr-right svg {
    width: 23px;
    fill: #ffe357;
}

.svg-arr-right svg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.svg-liast-arrow-b {
    float: right;
    margin-left: -2px;
    margin-top: -1px;
}

.svg-liast-arrow-b2 {
    margin-left: 5px;
    margin-top: 0;
    position: absolute;
}

.svg-liast-arrow-b svg, .svg-liast-arrow-b2 svg {
    fill: #337AB7;
    width: 8px;
}

.drop-down.active .svg-liast-arrow-b {
    margin-top: 3px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.svg-liast-arrow-b-close svg {
    margin-top: 4px;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.svg-rub-reg svg {
    height: 11px;
}

.svg-rub-reg2 svg {
    height: 16px;
}

.svg-rub-med svg {
    height: 35px;
    fill: white;
}

.svg-rub-med-black svg {
    height: 35px;
    fill: black;
}

.drop-down .close-open:after {
    content: "Развернуть";
    margin-right: 1px;
}

.drop-down.active .close-open:after {
    content: "Свернуть";
    margin-right: 1px;
}

.rec-teeth-1 {
    margin-left: 7px;
}

.rec-teeth-2 {
    margin-right: 12px;
    margin-left: -2px;
}

.rec-teeth-3 {
    margin-right: 2px;
    margin-left: 8px;
}

.not-active-link {
    opacity: 0.5;
    pointer-events: none;
}

.srats-box {
    width: 97px;
    height: 18px;
}

.srats-box div {
    float: left;
}

.srats-box .star-active svg {
    fill: #EDD665;
    width: 15px;
}

.srats-box .star svg {
    fill: #618292;
    width: 15px;
}

.data-picker svg {
    width: 16px;
}

.data-picker svg path, .data-picker svg rect {
    fill: #ffe357;
}

.progress-line {
    position: relative;
}

.progress-line-link1 {
    position: absolute;
    left: 0%;
    top: -20px;
}

.progress-line-link2 {
    position: absolute;
    left: 32%;
    top: -20px;
}

.progress-line-link3 {
    position: absolute;
    left: 65%;
    top: -20px;
}

.progress-line-link4 {
    position: absolute;
    left: 96%;
    top: -20px;
}

/*.progress-line-animate{*/

/*-webkit-animation: draw 1s forwards;*/
/*-moz-animation:    draw 1s forwards;*/
/*-o-animation:      draw 1s forwards;*/
/*animation:         draw 1s forwards;*/
/*}*/

/*@-webkit-keyframes draw {*/
/*to {*/
/*stroke-dashoffset: 0;*/
/*}*/
/*}*/
/*@-moz-keyframes draw {*/
/*to {*/
/*stroke-dashoffset: 0;*/
/*}*/
/*}*/
/*@-o-keyframes draw {*/
/*to {*/
/*stroke-dashoffset: 0;*/
/*}*/
/*}*/
/*@keyframes draw {*/
/*to {*/
/*stroke-dashoffset: 0;*/
/*}*/
/*}*/

.news-top-link {
    position: relative;
    top: -8px;
}

.text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}



.svg-metro1, .svg-metro2, .svg-metro3, .svg-metro4 {
    padding: 0px 5px 0 0;
    height: 20px;
    width: 20px;
}

.svg-metro1 svg, .svg-metro2 svg, .svg-metro3 svg, .svg-metro4 svg {
    height: 20px;
    width: 20px;
}

.svg-metro1 svg path {
    fill: #7CB34E;
}

.svg-metro2 svg path {
    fill: #BE0994;
}

.svg-metro3 svg path {
    fill: #129B2B;
}

.svg-metro4 svg path {
    fill: #1C9EDD;
}

.border-top-none {
    border-top: none !important;
}

.back2records {
    background: #1C9EDD;
    height: 76px;
    padding-top: 29px;
    z-index: 1001;
    position: absolute;
    left: 0;
    right: 0;
}

.choose-doctor {
    width: 230px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    background: #ffffff;
    position: absolute;
    z-index: 3;
    right: -2px;
    top: 45px;
    -webkit-box-shadow: 0px 0px 35px -13px #000000;
    -moz-box-shadow: 0px 0px 35px -13px #000000;
    box-shadow: 0px 0px 35px -13px #000000;
}
.choose-doctor:before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-width: 0 0 1px 1px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 5px;
    z-index: -1;
}
.choose-doctor ul li{
    padding: 0 13px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}
.choose-doctor ul li:last-child{
    border-bottom: none;
}
.choose-doctor ul li:hover{
    background: #f2f2f2;
}







/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:         top, left, opacity;
    transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
















#doctors li > div{
    float: left;
    display: block;
}
.carousel {
    height: 100% !important;
}
.carousel-inner{
    height: 100% !important;
    margin: 0 auto;
}
.bestdant1{
    width: 20%;
    float: left;
}
.bestdant2{
    width: 78%;
    float: right;
}

.form-input1, .form-input2, .form-textarea, .form-input3, .form-input2r{
    resize: none;
    background: #fff !important;
    border: none;
    border-top: 1px solid #b2b2b2;
    padding: 12px 4px !important;
}
.form-input1{
    width: 61%;
}
.form-input2, .form-input2r{
    width: 17%;
}
.form-input3{
    width: 100%;
}
.service-siteBar1, .service-siteBar2, .service-siteBar3{
    width: 32%;
    float: left;
    margin: 0 0.8%;
}
.service-siteBar3{
    margin-right: 0;
}
.svg-picture{
    width: 26px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: -2px;
}
.svg-picture img, .svg-like img{
    margin: 0 !important;
}
.svg-like{
    width: 41px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: -2px;
}
.svg-refresh{
    width: 20px;
    margin-top: 2px;
}

.doc-reviews-text .qu3{
    left: 0;
}
.tipso_bubble{

}