*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ul-style{
    margin-left: 27px;
}
.ul-style li:before{
    content: '\2022';
    margin-right: 5px;
}
.blockactions hr{
    margin-top: 0;
    margin-bottom: 25px;
}

.form-input1, .form-input2, .form-textarea{
    resize: none;
    background: #fff !important;
    border: none;
    border-top: 1px solid #b2b2b2;
    padding: 12px 4px !important;
    height: 40px;
    line-height: 18px;
}
.form-textarea{
    height: auto;
}
.form-input1{
    width: 61%;
}
.form-input2{
    width: 17%;
}
#collapse-1, #collapse-3, #collapse-5, #collapse-7, #collapse-9{
    background: #eae3d6;
    padding: 20px;
}

.fileupload{
    visibility: hidden;
}
.vacancy-link{
    padding: 14px 12px;
    display: block;
}
.vacancy-link:hover{
    text-decoration: none;
}
.drop-down.active > a.vacancy-link {
    background: #eae3d6;
    border-radius: 3px 3px 0 0;
}
.mybutton{
    cursor: pointer;
}
.reset-btn{
    border: none;
    background: none;
    margin-right: 30px;
    padding: 0;
}
